<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  class="no-js" lang="zxx">


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<style>



    .grid-button {
        padding: 5px 25px;
        font-size: 14px;
        color: #fff;
        background-color: #007bff;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .grid-button:hover {
        background-color: #0056b3;
    }


</style>

<!-- include/layout.html-->
<th:block th:replace="~{/include/layout :: setContent( ~{:: #wrap}  ) }">
    <section id="wrap">
    </section>
</th:block>

<div class="mobile-menu-overlay"></div>

<div class="main-container" >
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>증명서 발급 내역</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pd-20 card-box mb-30" >
                <h4 class="h4 text-blue mb-10" > 증명서 발급 내역 목록 </h4>
                <p>
                    <div id="gridEmp" style="width: 100%; height: 300px;"></div>
                </p>
            </div>
            <div class="pd-20 card-box mb-30" >
                <h4 class="h4 text-blue mb-10" > 증명서 발급 내역 목록 </h4>
                <p>
                    <div id="gridExp" style="width: 100%; height: 300px;"></div>
                </p>
            </div>
            <div class="pd-20 card-box mb-30" >
                <h4 class="h4 text-blue mb-10" > 증명서 발급 내역 목록 </h4>
                <p>
                    <div id="gridRet" style="width: 100%; height: 300px;"></div>
                </p>
            </div>
        </div>
    </div>
</div>

<!-- buttons for Export datatable -->
<script src="/plugins/datatables/js/dataTables.buttons.min.js"></script>
<script src="/plugins/datatables/js/buttons.print.min.js"></script>
<script src="/plugins/datatables/js/buttons.html5.min.js"></script>
<script src="/plugins/datatables/js/buttons.flash.min.js"></script>
<script src="/plugins/datatables/js/pdfmake.min.js"></script>
<script src="/plugins/datatables/js/vfs_fonts.js"></script>
<!-- welcome modal start -->

<!-- welcome modal end -->
<!-- js --><!--
		<script src="vendors/scripts/core.js"></script>
		<script src="vendors/scripts/script.min.js"></script>
		<script src="vendors/scripts/process.js"></script>
		<script src="vendors/scripts/layout-settings.js"></script>-->
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
    <script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>


<!--위에 선언하면 html보다 이 script가 더 빨리 로딩 되서 null 값어가 ㅜ항상 아래쪽에 위치해줘야되나봐 ~! -->
<!--<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />-->
<!--<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>-->
<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script src="/src/plugins/sweetalert2/sweetalert2.all.js"></script>
<script src="/src/plugins/sweetalert2/sweet-alert.init.js"></script>

<script th:inline="javascript">

    //모달창 세팅
    // const modalToggle = document.getElementById('exampleModal');
    // const myModal = new bootstrap.Modal(document.getElementById('exampleModal'));

    const itemList = /*[[${issueList}]]*/ [];
    console.log(itemList);

    function initializeGrid(gridId, data) {
        new tui.Grid({
        el: document.getElementById(gridId),
        data: itemList,
        scrollX: true,
        scrollY: true,
        columns: [
            {
                header: '증명서 번호',
                name: 'issueId',
                align: 'center'// 텍스트 정렬 옵션
            },
            {
                header: '현황',
                name: 'issueStatus',
                filter: {type: 'text', showApplyBtn: true, showClearBtn: true},
                align: 'center'

            },
            {
                header: '다운로드',
                formatter: function ( value, row ){
                    console.log(value)
                    console.log(row)

                    return '<button type="button" id="" class="grid-button"> 버튼 </button>';
                },
                align: 'center' // 가운데 정렬
            }

        ],
        rowHeaders: ['rowNum'],
        pageOptions: {
            useClient: true,
            perPage: 10
        }


    });

    // 그리드 클릭 시 이벤트
    grid.on('click', function (ev){
        console.log(ev);
        const column = ev.data
        // const row = grid.getRow(ev.rowKey);
        if(column == '다운로드'){
            const rowKey = ev.rowKey;
            const row = grid.getRow(rowKey);
            console.log(row);
        }

    });





</script>


<!-- Google Tag Manager (noscript) -->

<noscript
><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
></iframe
></noscript>
<!-- End Google Tag Manager (noscript) -->
</html>