<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  class="no-js" lang="zxx">
<!-- include/layout.html-->
<th:block th:replace="~{/include/layout :: setContent( ~{:: #wrap}  ) }">
    <section id="wrap">
    </section>
</th:block>

<link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
<script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>

<div class="mobile-menu-overlay"></div>

<div class="main-container" >
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>휴가 신청 내역</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pd-20 card-box mb-30" >
                <h4 class="h4 text-blue mb-10" > 휴가 신청 내역 목록 </h4>
                <p>
                <div id="grid" ></div>
                <input type="hidden" id="vacId" name="vacId">
                </p>
            </div>
        </div>
    </div>
</div>

<!-- buttons for Export datatable -->
<script src="/src/plugins/datatables/js/dataTables.buttons.min.js"></script>
<script src="/src/plugins/datatables/js/buttons.print.min.js"></script>
<script src="/src/plugins/datatables/js/buttons.html5.min.js"></script>
<script src="/src/plugins/datatables/js/buttons.flash.min.js"></script>
<script src="/src/plugins/datatables/js/pdfmake.min.js"></script>
<script src="/src/plugins/datatables/js/vfs_fonts.js"></script>
<!-- welcome modal start -->

<!-- welcome modal end -->
<!-- js --><!--
		<script src="vendors/scripts/core.js"></script>
		<script src="vendors/scripts/script.min.js"></script>
		<script src="vendors/scripts/process.js"></script>
		<script src="vendors/scripts/layout-settings.js"></script>-->


<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

<script>

    const grid = new tui.Grid({
        el: document.getElementById('grid'),
        // data: data,
        scrollX: true,
        scrollY: true,
        columns: [
            {
                header: '휴가 유형',
                name: 'vacType',
                filter: 'select',
                align: 'center'
            },
            {
                header: '휴가 시작일',
                name: 'vacStartDate',
                filter: {
                    showApplyBtn: true,
                    showClearBtn: true,
                    type: 'date',
                    options: {
                        format: 'yyyy.MM.dd'
                    }
                },
                align: 'center'
            },
            {
                header: '휴가 종료일',
                name: 'vacEndDate',
                filter: {
                    showApplyBtn: true,
                    showClearBtn: true,
                    type: 'date',
                    options: {
                        format: 'yyyy.MM.dd'
                    }
                },
                align: 'center'
            },
            {
                header: '신청일자',
                name: 'vacRegDate',
                filter: {
                    showApplyBtn: true,
                    showClearBtn: true,
                    type: 'date',
                    options: {
                        format: 'yyyy.MM.dd'
                    }
                },
                align: 'center'
            },
            {
                header: '결재 현황',
                name: 'vacStatus',
                filter: 'select',
                align: 'center'
            }
        ],
        rowHeaders: ['rowNum'],
        pageOptions: {
            useClient: true,
            perPage: 10
        }

    });

    //나의 휴가 리스트 불러오기
    fetch('/mypage/my-vac')
        .then(function (res){
            return res.json();
        })
        .then(function (myVacData){
            grid.resetData(myVacData);
        })
</script>
<script th:inline="javascript">
    const vacList= /*[[${vacList}]]*/ [];
    grid.on('click',function(ev) {
        console.log(ev); // 그리드에서 제공하는 클릭 이벤트의 매개변수 값을 보기 위함
        const indexOfRow=grid.getIndexOfRow(ev.rowKey); //인덱스
        //클릭한 인덱스의 vacId
        const vacationId=vacList[indexOfRow].vacId;

        if(vacationId){
            window.location.href= 'my-vac-detail/'+vacationId;
        }
    })
</script>

<!-- Google Tag Manager (noscript) -->

<noscript
><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
></iframe
></noscript>
<!-- End Google Tag Manager (noscript) -->
</html>