<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  class="no-js" lang="zxx">

<th:block th:fragment="setContent( section )">

    <head>
        <!-- Basic Page Info -->
        <meta charset="utf-8" />
        <title>Meta人</title>
        <meta name="_csrf_header" th:content="${_csrf.headerName}">
        <meta name="_csrf" th:content="${_csrf.token}">
        <!-- Site favicon -->
        <link
                rel="apple-touch-icon"
                sizes="180x180"

                href="/vendors/images/apple-touch-icon.png"

        />
        <link
                rel="icon"
                type="image/png"
                sizes="32x32"

                href="/vendors/images/favicon-32x32.png"

        />
        <link
                rel="icon"
                type="image/png"
                sizes="16x16"

                href="/vendors/images/favicon-16x16.png"

        />

        <!-- Mobile Specific Metas -->
        <meta
                name="viewport"
                content="width=device-width, initial-scale=1, maximum-scale=1"
        />

        <!-- Google Font -->
        <link
                href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap"
                rel="stylesheet"
        />
        <!-- CSS -->

        <link rel="stylesheet" type="text/css" href="/vendors/styles/core.css" />
        <link
                rel="stylesheet"
                type="text/css"
                href="/vendors/styles/icon-font.min.css"

        />
        <link
                rel="stylesheet"
                type="text/css"

                href="/src/plugins/datatables/css/dataTables.bootstrap4.min.css"

        />
        <link
                rel="stylesheet"
                type="text/css"

                href="/src/plugins/datatables/css/responsive.bootstrap4.min.css"
        />
        <link rel="stylesheet" type="text/css" href="/vendors/styles/style.css" />
        <link
                rel="stylesheet"
                type="text/css"
                href="/src/plugins/fullcalendar/fullcalendar.css"
        />
        <link rel="stylesheet" type="text/css" href="/vendors/styles/style.css" />
        <link
                rel="stylesheet"
                type="text/css"
                href="/src/plugins/jquery-steps/jquery.steps.css"

        />
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script
                async
                src="https://www.googletagmanager.com/gtag/js?id=G-GBZ3SGGX85"search-icon
        ></script>
        <script
                async
                src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-2973766580778258"
                crossorigin="anonymous"
        ></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-GBZ3SGGX85");
        </script>
        <!-- Google Tag Manager -->
        <script>
            (function (w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != "dataLayer" ? "&l=" + l : "";
                j.async = true;
                j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, "script", "dataLayer", "GTM-NXZMQSS");
        </script>
        <!-- End Google Tag Manager -->
        <style>
            .img_absolute {
                position: absolute;
                transform: translate(-27%, -55%);
            }
        </style>
    </head>
    <body>
    <script th:inline="javascript">

        const empId = [[${emp.empId}]] ;
        document.addEventListener("DOMContentLoaded", function() {
            var sse = new EventSource("http://localhost:9000/alarm/subscribe?userId=" + empId);
            sse.addEventListener("subscribe", function(e) {
                var receivedConnectData = e.data;
                console.log("connect event data: ", e); // "connected!"
            });

            sse.addEventListener("alarm", function(e) {
                var receivedData = e.data;
                var data = JSON.parse(receivedData);
                var randomId = Math.random().toString(36).substring(2, 12);
                var alarmDiv = "";
                if ($(".bell").find('h3:contains("' + data.body + '")').length === 0) {
                    alarmDiv += '<li >';
                    alarmDiv += '   <a href="#">';
                    alarmDiv += '       <img src="/vendors/images/bell.png" alt="" />';
                    alarmDiv += '       <h3>' + data.body + '</h3>';
                    alarmDiv += '       <p>' + data.createdAt.substring(0, 10) + '</p>';
                    alarmDiv += '   </a>';
                    alarmDiv += '</li>';
                    $(".bell").append(alarmDiv);
                }
            });

            $(document).on("click", ".dropdown-toggle", function () {

                console.log("EEEE"+[[${emp.empId}]])
                $.ajax({
                    type: "get",
                    url: "/vacation/today?empId="+empId,
                    dataType: "JSON",
                    success: function (result) {
                        console.log("오늘 휴가 사용자 "+result);
                        let alarmList = "";
                        for (let alarmListElement of result) {
                            if (alarmListElement != null) {
                                let alarmItem = "";
                                alarmItem += '<li >';
                                alarmItem += '   <a href="#">';
                                alarmItem += '       <img src="/vendors/images/bell.png" alt="" />';
                                alarmItem += '       <h3> 오늘은 '+ alarmListElement.empName + ' 님의 '+alarmListElement.vacType+' 휴가입니다. </h3>';
                                alarmItem += '       <p>'+ alarmListElement.vacStartDate+' ~ '+alarmListElement.vacEndDate+'</p>';
                                alarmItem += '   </a>';
                                alarmItem += '</li>';

                                alarmList += alarmItem;
                            }
                        }
                        $(".bell").append(alarmList);

                        // 첫 번째 AJAX 요청
                        $.ajax({
                            type: "get",
                            url: "/vacation/alarm?empId="+empId,
                            dataType: "JSON",
                            success: function (result) {
                                console.log(result);
                                let alarmList = "";
                                if (result.length === 0) {
                                    let alarmItem = "";
                                    alarmItem += '<li >';
                                    alarmItem += '   <a href="#">';
                                    alarmItem += '       <h3> 등록된 알람이 없습니다. </h3>';
                                    alarmItem += '   </a>';
                                    alarmItem += '</li>';

                                    alarmList += alarmItem;
                                } else {
                                    for (let alarmListElement of result) {
                                        if (alarmListElement.empId != null) {
                                            let alarmItem = "";
                                            alarmItem += '<li >';
                                            alarmItem += '   <a href="#">';
                                            alarmItem += '       <img src="/vendors/images/bell.png" alt="" />';
                                            alarmItem += '       <h3>'+ alarmListElement.notiContent + '</h3>';
                                            alarmItem += '       <p>'+ alarmListElement.notiDt.substring(0,10)+'</p>';
                                            alarmItem += '   </a>';
                                            alarmItem += '</li>';

                                            alarmList += alarmItem;
                                        }
                                    }
                                }
                                $(".bell").append(alarmList);
                            },
                            error: function (request, status, error) {
                                alert("ajax 실행 실패");
                                alert("code:" + request.status + "\n" + "error :" + error);
                            }
                        });
                    },
                    error: function (request, status, error) {
                        alert("ajax 실행 실패");
                        alert("code:" + request.status + "\n" + "error :" + error);
                    }
                });
            });

        });


    </script>



    <div class="header">
        <div class="header-left">
            <div class="menu-icon bi bi-list"></div>

            <div class="header-search">
                <form>

                </form>
            </div>
        </div>
        <div class="header-right">
            <div class="dashboard-setting user-notification">

            </div>
            <div class="user-notification">
                <div class="dropdown">
                    <a
                            class="dropdown-toggle no-arrow"
                            href="#"
                            role="button"
                            data-toggle="dropdown"
                    >
                        <i class="icon-copy dw dw-notification"></i>
                        <span class="badge notification-active"></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="notification-list mx-h-350 customscroll">
                            <ul class="bell">

                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-info-dropdown">
                <div class="dropdown">
                    <a
                            class="dropdown-toggle"
                            href="#"
                            role="button"
                            data-toggle="dropdown"
                    >
								<span class="user-icon">

									<img th:src="@{'/vendors/user/' + ${emp.empProfile}}" style="width: 50px; height: 50px;"
                                    />

								</span>
                    </a>


                    <!-- 로그아웃  -->
                    <form id="logoutForm" th:action="@{/logout}" method="post">
                        <input th:name="${_csrf.parameterName}" type="hidden" th:value="${_csrf.token}"/>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                            <a class="dropdown-item" onclick="logout()" >
                                <i class="dw dw-logout"></i> Log Out
                            </a>
                        </div>
                    </form>





                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
                        <a class="dropdown-item">
                            <i class="dw dw-logout"></i>
                            Log Out
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="right-sidebar">
        <div class="sidebar-title">
            <h3 class="weight-600 font-16 text-blue">
                Layout Settings
                <span class="btn-block font-weight-400 font-12"
                >User Interface Settings</span
                >
            </h3>
            <div class="close-sidebar" data-toggle="right-sidebar-close">
                <i class="icon-copy ion-close-round"></i>
            </div>
        </div>
        <div class="right-sidebar-body customscroll">
            <div class="right-sidebar-body-content">
                <h4 class="weight-600 font-18 pb-10">Header Background</h4>
                <div class="sidebar-btn-group pb-30 mb-10">
                    <a
                            href="javascript:void(0);"
                            class="btn btn-outline-primary header-white active"
                    >White</a
                    >
                    <a
                            href="javascript:void(0);"
                            class="btn btn-outline-primary header-dark"
                    >Dark</a
                    >
                </div>

                <h4 class="weight-600 font-18 pb-10">Sidebar Background</h4>
                <div class="sidebar-btn-group pb-30 mb-10">
                    <a
                            href="javascript:void(0);"
                            class="btn btn-outline-primary sidebar-light"
                    >White</a
                    >
                    <a
                            href="javascript:void(0);"
                            class="btn btn-outline-primary sidebar-dark active"
                    >Dark</a
                    >
                </div>

                <h4 class="weight-600 font-18 pb-10">Menu Dropdown Icon</h4>
                <div class="sidebar-radio-group pb-10 mb-10">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input
                                type="radio"
                                id="sidebaricon-1"
                                name="menu-dropdown-icon"
                                class="custom-control-input"
                                value="icon-style-1"
                                checked=""
                        />
                        <label class="custom-control-label" for="sidebaricon-1"
                        ><i class="fa fa-angle-down"></i
                        ></label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input
                                type="radio"
                                id="sidebaricon-2"
                                name="menu-dropdown-icon"
                                class="custom-control-input"
                                value="icon-style-2"
                        />
                        <label class="custom-control-label" for="sidebaricon-2"
                        ><i class="ion-plus-round"></i
                        ></label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input
                                type="radio"
                                id="sidebaricon-3"
                                name="menu-dropdown-icon"
                                class="custom-control-input"
                                value="icon-style-3"
                        />
                        <label class="custom-control-label" for="sidebaricon-3"
                        ><i class="fa fa-angle-double-right"></i
                        ></label>
                    </div>
                </div>

                <h4 class="weight-600 font-18 pb-10">Menu List Icon</h4>
                <div class="sidebar-radio-group pb-30 mb-10">
                    <div class="custom-control custom-radio custom-control-inline">
                        <input
                                type="radio"
                                id="sidebariconlist-1"
                                name="menu-list-icon"
                                class="custom-control-input"
                                value="icon-list-style-1"
                                checked=""
                        />
                        <label class="custom-control-label" for="sidebariconlist-1"
                        ><i class="ion-minus-round"></i
                        ></label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input
                                type="radio"
                                id="sidebariconlist-2"
                                name="menu-list-icon"
                                class="custom-control-input"
                                value="icon-list-style-2"
                        />
                        <label class="custom-control-label" for="sidebariconlist-2"
                        ><i class="fa fa-circle-o" aria-hidden="true"></i
                        ></label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input
                                type="radio"
                                id="sidebariconlist-3"
                                name="menu-list-icon"
                                class="custom-control-input"
                                value="icon-list-style-3"
                        />
                        <label class="custom-control-label" for="sidebariconlist-3"
                        ><i class="dw dw-check"></i
                        ></label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input
                                type="radio"
                                id="sidebariconlist-4"
                                name="menu-list-icon"
                                class="custom-control-input"
                                value="icon-list-style-4"
                                checked=""
                        />
                        <label class="custom-control-label" for="sidebariconlist-4"
                        ><i class="icon-copy dw dw-next-2"></i
                        ></label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input
                                type="radio"
                                id="sidebariconlist-5"
                                name="menu-list-icon"
                                class="custom-control-input"
                                value="icon-list-style-5"
                        />
                        <label class="custom-control-label" for="sidebariconlist-5"
                        ><i class="dw dw-fast-forward-1"></i
                        ></label>
                    </div>
                    <div class="custom-control custom-radio custom-control-inline">
                        <input
                                type="radio"
                                id="sidebariconlist-6"
                                name="menu-list-icon"
                                class="custom-control-input"
                                value="icon-list-style-6"
                        />
                        <label class="custom-control-label" for="sidebariconlist-6"
                        ><i class="dw dw-next"></i
                        ></label>
                    </div>
                </div>

                <div class="reset-options pt-30 text-center">
                    <button class="btn btn-danger" id="reset-settings">
                        Reset Settings
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="left-side-bar">
        <div class="brand-logo">

            <a href="/index">
                <img src="/vendors/images/logo.png" alt="" class="dark-logo" />
                <img
                        src="/vendors/images/deskapp-logo-white.svg"

                        alt=""
                        class="light-logo"
                />
            </a>
            <div class="close-sidebar" data-toggle="left-sidebar-close">
                <i class="ion-close-round"></i>
            </div>
        </div>
        <div class="menu-block customscroll">
            <div class="sidebar-menu">
                <ul id="accordion-menu">
                    <li >

                        <a href="/index" class="dropdown-toggle no-arrow active">

									<span class="micon bi bi-chat-right-dots"></span
                                    ><span class="mtext">Home</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle">
									<span class="micon bi bi-textarea-resize"></span
                                    ><span class="mtext">휴가관리</span>
                        </a>
                        <ul class="submenu">
                            <li><a href="/vacation/vacation-list"> 전체 목록</a></li>
                            <li><a id="apply-html-alert"> 신청하기
                            </a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle">
									<span class="micon bi bi-textarea-resize"></span
                                    ><span class="mtext">증명서 발급</span>
                        </a>
                        <ul class="submenu">
                            <li><a href="/certification/emp-cert-show"> 재직증명서</a></li>
                            <li><a href="/certification/exper-cert-show"> 경력증명서</a></li>
                            <li><a href="/certification/retire-cert-show"> 퇴직증명서</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle">
									<span class="micon bi bi-textarea-resize"></span
                                    ><span class="mtext">마이 페이지</span>
                        </a>
                        <ul class="submenu">
                            <li><a href="/mypage/my-cert-list"> 증명서 발급내역</a></li>
                            <li><a href="/mypage/my-vac-list"> 휴가 신청 조회 </a></li>
                            <li><a href="/mypage/update-mypage"> 내 정보 수정 </a></li>
                            <li><a href="/mypage/alarm"> 알림함 </a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="/vacation/vacation-req-list" class="dropdown-toggle no-arrow">
									<span class="micon bi bi-calendar4-week"></span
                                    ><span class="mtext">요청된 휴가 목록</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle">
									<span class="micon bi bi-textarea-resize"></span
                                    ><span class="mtext">인사관리</span>
                        </a>
                        <ul class="submenu">
                            <li><a href="/hr/emp-list"> 사원 전체 조회</a></li>
<!--                            <li><a href=""> 인사 정보 수정 </a></li>-->
                            <li><a href="/hr/new-emp-list"> 신규입사자 조회 </a></li>
                            <li><a href="/hr/insert-new-emp"> 신규입사자 등록 </a></li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
    <!-- welcome modal start -->
    <!-- welcome modal end -->
    <!-- js -->

    <script src="/vendors/scripts/core.js"></script>
    <script src="/vendors/scripts/script.min.js"></script>
    <script src="/vendors/scripts/process.js"></script>
    <script src="/vendors/scripts/layout-settings.js"></script>
    <script src="/src/plugins/apexcharts/apexcharts.min.js"></script>
    <script src="/src/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
    <script src="/src/plugins/datatables/js/dataTables.responsive.min.js"></script>
    <script src="/src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
    <script src="/vendors/scripts/dashboard3.js"></script>
    <script src="/src/plugins/sweetalert2/sweetalert2.all.js"></script>
    <script src="/src/plugins/sweetalert2/sweet-alert.init.js"></script>
    <script>

       function logout() {
           document.getElementById('logoutForm').submit(); // 폼 제출
           console.log('로그아웃 된다');
       }

    </script>


    <!-- Google Tag Manager (noscript) -->
    <noscript
    ><iframe
            src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
            height="0"
            width="0"
            style="display: none; visibility: hidden"
    ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->
    </body>
</th:block>
</html>