<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  class="no-js" lang="zxx">
<!-- include/layout.html-->
<th:block th:replace="~{/include/layout :: setContent( ~{:: #wrap}  ) }">
    <section id="wrap">
    </section>
</th:block>

<link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
<script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>
<link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
<script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>


<div class="mobile-menu-overlay"></div>
<div class="main-container" >
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>휴가 상세 보기</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/index">휴가 관리</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    전체 목록
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <div class="col-md-6 col-sm-12 text-right">
                    </div>
                </div>
            </div>
            <div class="card-align">
                <div class="pd-20 card-box mb-30">
                    <h4 class="h4 text-blue mb-10" > 휴가 상세 </h4>
                    <div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label">사원 정보 </label>
                            <div class="col-sm-12 col-md-7">
                                <input class="form-control" th:value="${req.empName}" readonly type="text">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label"> 휴가 종류 </label>
                            <div class="col-sm-12 col-md-7">
                                <input class="form-control" th:value="${vac.getVacType()}" readonly type="text">
                            </div>
                        </div>
                        <div class="form-group row" style="margin-bottom: 25px;">
                            <label class="col-sm-12 col-md-2 col-form-label" >휴가 기간 </label>
                            <div class="col-sm-12 col-md-3">
                                <input class="form-control date-picker" th:value="${vac.getVacStartDate()}" readonly>
                            </div>
                            <p> ~ </p>
                            <div class="col-sm-12 col-md-3">
                                <input class="form-control date-picker" th:value="${vac.getVacEndDate()}" readonly>
                            </div>
                            <div class="col-sm-12 col-md-3">
                                총 <b><span th:text="${diff}"/> 일</b> 선택<br>
                                <i class="icon-copy fi-flag"></i> 남은 연차 : <b><span th:text="${req.getEmpVac() - diff}"/></b> 일
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-12 col-md-2 col-form-label"> 사유 </label>
                            <div class="col-sm-12 col-md-7">
                                <input class="form-control" th:value="${vac.getVacResn()}" readonly type="text">
                            </div>
                        </div>


                        <div class="form-group row" style="height: 150px;">
                            <label class="col-sm-12 col-md-2 col-form-label"> 결재라인 </label>
                            <div class="col-sm-12 col-md-7" style="display: flex; justify-content: space-around" >
                            <div class="col-sm-10 col-md-2">
                                <div class="profile-photo-apply" style="display: flex; justify-content: center; align-items: center;">
                                    <img src="/vendors/images/photo1.jpg"
                                         style="width: 100px; height: 100px;"
                                    />
                                </div>
                                <div th:text="${req.getEmpName()}" style="font-weight: bold; text-align: center;"></div>
                                <p class="text-center text-muted font-14" >
                                    <span th:text="${req.getEmpDept()}"></span>
                                </p>
                            </div>
                            <div class="col-sm-5 col-md-3" style="display: flex">

                                <img src="/vendors/images/001.jpg"
                                     style="width: 180px;height: 130px"
                                />
                            </div>

                            <div class="col-sm-12 col-md-2">
                                <div class="profile-photo-apply" style="display: flex; justify-content: center; align-items: center;">
                                    <img src="/vendors/images/photo1.jpg"
                                         style="width: 100px; height: 100px;"
                                    />
                                </div>
                                <div th:text="${admin.getEmpName()}" style="font-weight: bold; text-align: center;"></div>
                                <p class="text-center text-muted font-14" >
                                    <span th:text="${admin.getEmpDept()}"></span>
                                </p>
                            </div>
                            </div>
                        </div>
                        <div class="form-group row" style="display: flex; justify-content: space-evenly; align-items: center;">
                            <button class="btn btn-primary" style="width: 35%;" onclick="approveVacationRequest()">승인하기</button>
                            <button class="btn btn-primary reject" style="width: 35%; border-color:#f56767; background-color: #f56767;" onclick="rejectVacationRequest()">반려하기</button>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- welcome modal start -->

<!-- welcome modal end -->
<!-- js --><!--
		<script src="vendors/scripts/core.js"></script>
		<script src="vendors/scripts/script.min.js"></script>
		<script src="vendors/scripts/process.js"></script>
		<script src="vendors/scripts/layout-settings.js"></script>-->


<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>
<script src="/src/plugins/sweetalert2/sweetalert2.all.js"></script>
<script src="/src/plugins/sweetalert2/sweet-alert.init.js"></script>
<script th:inline="javascript">
    var header = $("meta[name='_csrf_header']").attr('content');
    var token = $("meta[name='_csrf']").attr('content');
    var receiver = [[ ${req.empId} ]];

    const vacationId = [[ ${vac.vacId} ]];
    const vacStatus = "승인대기";
    const requestData = {
        vacationId: vacationId,
        vacStatus:vacStatus,
        receiver:receiver
    };
    $(document).ajaxSend(function(e,xht,op){
        xht.setRequestHeader(header ,token);
    });
    function approveVacationRequest() {
        //승인 아작스
        $.ajax({

            type: "POST",
            url: "/vacation/approveVacationRequest",
            data:JSON.stringify(requestData),
            dataType: 'text',
            contentType: 'application/json;charset=utf-8',
            success: function(response) {
                console.log(response)
                window.location.pathname = "/vacation/vacation-req-list";
                document.querySelector(".btn-primary").disabled = true;
                },
            error: function(error) {
                console.log(JSON.stringify(error));
            }
        });//ajax
    }
    function rejectVacationRequest() {
        //거절버튼 아작스
        $.ajax({
            type: "POST",
            url: "/vacation/rejectVacationRequest",
            data:JSON.stringify(requestData),
            dataType: 'text',
            contentType: 'application/json;charset=utf-8',
            success: function(response) {
                window.location.pathname = "/vacation/vacation-req-list";
                document.querySelector(".btn-primary").disabled = true;

            },
            error: function(error) {
                console.log(JSON.stringify(error));
            }
        });
    }

</script>
<!-- Google Tag Manager (noscript) -->
<noscript
><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
></iframe
></noscript>
<!-- End Google Tag Manager (noscript) -->
</body>
</html>
