<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  class="no-js" lang="zxx" xmlns:layout="http://www.w3.org/1999/xhtml">

<!-- include/layout.html-->
<th:block th:replace="~{/include/layout :: setContent( ~{:: #wrap}  ) }">
  <section id="wrap">
  </section>
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
</th:block>
<div class="mobile-menu-overlay"></div>
<div class="main-container" >
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
      <div class="page-header">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="title">
              <h4>휴가 신청하기</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="/index.html">휴가 관리</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  휴가 신청
                </li>
              </ol>
            </nav>
          </div>
          <div class="col-md-6 col-sm-12 text-right">

          </div>
        </div>
      </div>
      <div class="pd-20 card-box mb-30" >
        <h4 class="h4 text-blue mb-10" > 휴가 신청 </h4>
          <form style="width: 700px;" th:action="@{/vacation/insert-vaction}" method="post">
            <div class="form-group row">
              <label class="col-sm-12 col-md-2 col-form-label">휴가 종류</label>
              <div class="col-sm-12 col-md-10">
                <select class="custom-select col-8" th:name="vacType" id="vacType">
                  <option selected="" >유형 선택</option>
                  <option th:value="일반-연차">일반(연차)</option>
                  <option th:value="병가">병가</option>
                </select>
              </div>
            </div>
            <div class="form-group row" style="margin-bottom: 25px;">
              <label class="col-sm-12 col-md-2 col-form-label" >휴가 기간 </label>
              <div class="col-sm-12 col-md-3">
                <input class="form-control" id="vacStartDate" th:id="vacStartDate" th:name="vacStartDate" placeholder="Select" type="date" >
              </div>
              <p> ~ </p>
              <div class="col-sm-12 col-md-3">
                <input class="form-control " id="vacEndDate" th:id="vacEndDate" th:name="vacEndDate" placeholder="Select" type="date">
              </div>
              <div class="col-sm-12 col-md-3">
                총 <b><span id="diffDays"></span></b>일 선택<p></p><i class="icon-copy fi-flag"></i> 남은 연차 : <b><span id="" th:text="${emp.getEmpVac()}"></span></b> 일
              </div>
            </div>
            <div class="form-group row">
              <label class="col-sm-12 col-md-2 col-form-label">사유 </label>
              <div class="col-sm-12 col-md-7">
                <input class="form-control" id="vacResn" th:name="vacResn" placeholder="사유를 입력해주세요" type="text">
              </div>
            </div>

            <div class="form-group row" style="height: 150px;">
              <label class="col-sm-12 col-md-2 col-form-label"> 결재라인 </label>
              <div class="col-sm-12 col-md-7" style="display: flex; justify-content: space-around" >
                <div class="col-sm-10 col-md-4">
                  <div class="profile-photo-apply" style="display: flex; justify-content: center; align-items: center;">
                    <img src="/vendors/images/photo1.jpg"
                         style="width: 100px; height: 100px;"
                    />
                  </div>
                  <div th:text="${emp.getEmpName()}" style="font-weight: bold; text-align: center;"></div>
                  <p class="text-center text-muted font-14" >
                    <span th:text="${emp.getEmpDept()}"></span>
                  </p>
                </div>
                <div class="col-sm-5 col-md-4" style="display: flex">

                  <img src="/vendors/images/001.jpg"
                       style="width: 180px;height: 130px"
                  />
                </div>

                <div class="col-sm-12 col-md-4">
                  <div class="profile-photo-apply" style="display: flex; justify-content: center; align-items: center;">
                    <img src="/vendors/images/photo1.jpg"
                         style="width: 100px; height: 100px;"
                    />
                  </div>
                  <div th:text="${admin.getEmpName()}" style="font-weight: bold; text-align: center;"></div>
                  <p class="text-center text-muted font-14" >
                    <span th:text="${admin.getEmpDept()}"></span>
                  </p>
                </div>
              </div>
            </div>

            <div class="form-group row" style="display: flex; justify-content: center; align-items: center;">
              <input type="submit" class="btn btn-primary" value="Submit" style="width: 80%;">
            </div>

            <input type="hidden" th:name="empId" th:value=${emp.empId} />
            <input type="hidden" th:name="admId" th:value=${admin.empId} />
            <input type="hidden" th:name="vacStatus" th:value="승인대기" />
            <input type="hidden" th:id="selectedDays" th:name="selectedDays" th:value="0"/>
          </form>
      </div>
    </div>
  </div>
</div>

<!-- Google Tag Manager (noscript) -->
<!-- add sweet alert js & css in footer -->
<script>
  //유효성 검사
  $('input[type="submit"]').on('click', function (event) {
    var vacType = $('#vacType').val(); //유형
    var vacResn = $('#vacResn').val(); //사유
      if (vacType === "유형 선택") {
      event.preventDefault();
      alert('휴가 유형을 선택해주세요.');
    }
    if (vacResn === "") {
      event.preventDefault();
      alert('사유를 작성해주세요.');
    }

    if(vacType !== "유형 선택" && vacResn !== "") {
      swal('휴가가 신청되었습니다.').then(function () {
        window.location.href = 'vacation-list';
      });
    }
  });
</script>
<script src="/src/plugins/sweetalert2/sweetalert2.all.js"></script>
<script src="/src/plugins/sweetalert2/sweet-alert.init.js"></script>
<script src="/src/plugins/jquery-steps/jquery.steps.js"></script>
<script src="/vendors/scripts/steps-setting.js"></script>

<script th:inline="javascript">
  let count = /*[[${emp.getEmpVac()}]]*/ 0;
  console.log(count)
  $('input[type="date"]').on('change', function (event) {
    let startDate=new Date($('#vacStartDate').val())
    let endDate=new Date($('#vacEndDate').val())
    console.log(count)
    let daysDiff =0;
    if (startDate && endDate && startDate <= endDate) {
      var timeDiff = endDate.getTime() - startDate.getTime();
      daysDiff = (Math.ceil(timeDiff / (1000 * 3600 * 24)) + 1);
      console.log(count)
    }
    if(daysDiff<=count){
      document.getElementById("diffDays").innerText = daysDiff;
      document.getElementById("selectedDays").value = daysDiff;
    }else {
        event.preventDefault();
      console.log(count)
        alert("잔여 연차보다 선택한 연차가 더 많습니다.")
        event.preventDefault()

      }

  });
</script>
<noscript
><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
></iframe
></noscript>
<!-- End Google Tag Manager (noscript) -->
</body>

</html>
