<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  class="no-js" lang="zxx">
<!-- include/layout.html-->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<th:block th:replace="~{/include/layout :: setContent( ~{:: #wrap}  ) }">
    <section id="wrap">
    </section>
</th:block>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

<div class="mobile-menu-overlay"></div>

<div class="main-container" >
    <div class="pd-ltr-20 xs-pd-20-10">
        <div class="min-height-200px">
            <div class="page-header">
                <div class="row">
                    <div class="col-md-6 col-sm-12">
                        <div class="title">
                            <h4>전체 사원 조회</h4>
                        </div>
                        <nav aria-label="breadcrumb" role="navigation">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a>인사 관리</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    전체 목록
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
            <div class="pd-20 card-box mb-30" >
                <h4 class="h4 text-blue mb-10" > 사원 목록 </h4>
                    <p>
                        <div id="grid" ></div>
                    </p>
            </div>
        </div>
    </div>
</div>
<!-- 모달창 -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">사원 정보</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="empSabun" class="col-form-label">사원 번호</label>
                        <input type="text" readonly class="form-control" id="empSabun">
                        <input type="hidden" class="form-control" id="empId">
                    </div>
                    <div class="mb-3">
                        <label for="empName" class="col-form-label">이름</label>
                        <input type="text" readonly class="form-control" id="empName">
                    </div>
                    <div class="mb-3">
                        <label for="empBirth" class="col-form-label">생년월일</label>
                        <input type="text" readonly class="form-control" id="empBirth">
                    </div>
                    <div class="mb-3">
                        <label for="empPhone" class="col-form-label">전화번호</label>
                        <input type="text" readonly class="form-control" id="empPhone">
                    </div>
                    <div class="mb-3">
                        <label for="empAddr" class="col-form-label">주소</label>
                        <input type="text" readonly class="form-control" id="empAddr">
                    </div>
                    <div class="mb-3">
                        <label for="empEmail" class="col-form-label">이메일</label>
                        <input type="text" readonly class="form-control" id="empEmail">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="empDept" class="col-form-label">부서</label>
                                <div class="form-group col-md-4" >
                                    <select id="empDept" th:name="empDept" class="form-control btn-lg" style="width: auto">
                                        <option value="개발 1팀">개발 1팀</option>
                                        <option value="개발 2팀">개발 2팀</option>
                                        <option value="개발 3팀">개발 3팀</option>
                                        <option value="인사팀">인사팀</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="empGrade" class="col-form-label">직급</label>
                                <div class="form-group col-md-4" style="width: 40%">
                                    <select id="empGrade" th:name="empGrade" class="form-control btn-lg" style="width: auto">
                                        <option value="EMPLOYEE">사원</option>
                                        <option value="ASSISTANT">대리</option>
                                        <option value="MANAGER">과장</option>
                                        <option value="DEPUTY">차장</option>
                                        <option value="HR">인사관리</option>
                                        <option value="ADMIN">관리자</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="empStatus" class="col-form-label">재직 상태</label>
                        <select type="text" class="form-control" id="empStatus" onchange="statusChange()">
<!--                        <select type="text" class="form-control" id="empStatus" onchange="handleEmpStatusChange()">-->
                            <option value="ACTIVE">재직</option>
                            <option value="RETIREE">퇴직</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="empFirstDt" class="col-form-label">입사 일자</label>
                        <input type="text"  readonly class="form-control" id="empFirstDt">
                    </div>
                    <div class="mb-3">
                        <label for="empLastDt" class="col-form-label">퇴사 일자</label>
                        <input type="text" class="form-control" id="empLastDt" disabled>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="updateEmp()">수정</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="~{/include/footer :: setContent( ~{:: #footer}  ) }">
    <section id="footer">
    </section>
</th:block>

    <link rel="stylesheet" href="https://uicdn.toast.com/tui.pagination/latest/tui-pagination.css" />
    <script type="text/javascript" src="https://uicdn.toast.com/tui.pagination/v3.4.0/tui-pagination.js"></script>
    <link rel="stylesheet" href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css" />
    <script src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.js"></script>



<link rel="stylesheet" href="https://uicdn.toast.com/grid/latest/tui-grid.css" />
<script src="https://uicdn.toast.com/grid/latest/tui-grid.js"></script>

<script th:inline="javascript">


    var myModal;
    const modalToggle = document.getElementById('exampleModal');
    //모달창 세팅
    const modalToggle = document.getElementById('exampleModal');
    const myModal = new bootstrap.Modal(document.getElementById('exampleModal'));
    const itemList = /*[[${list}]]*/ [];
    const grid = new tui.Grid({
        el: document.getElementById('grid'),
        data: itemList,
        columns: [
            {
                header: '사원 번호',align: 'center',
                name: 'empSabun'
            },
            {
                header: '부서명',
                name: 'empDept',
                align: 'center',
                filter: 'select'
            },
            {
                header: '직급',
                name: 'empGrade',align: 'center',
                formatter: function (grade) {
                    return grade.value ? setGrade(grade.value) : '';
                    // const grade = params.value;
                    // const korGrade = setGrade(grade); // 영어 부서명을 한글로 변환하는 함수 호출
                    // return korGrade;
                },
                filter: 'select'
            },
            {
                header: '이름',
                name: 'empName',align: 'center',
                filter: 'select'
            },
            {
                header: '입사 일자',
                name: 'empFirstDt', align: 'center',
                filter: {
                    showApplyBtn: true,
                    showClearBtn: true,
                    type: 'date',
                    options: {
                        format: 'yyyy.MM.dd'
                    }
                },
                formatter: function (params) {
                    // params.value 값을 "yyyy-MM-dd" 형식으로 변환하여 반환
                    if (params.value) {
                        const date = new Date(params.value);
                        const year = date.getFullYear();
                        const month = ('0' + (date.getMonth() + 1)).slice(-2);
                        const day = ('0' + date.getDate()).slice(-2);
                        return year + '-' + month + '-' + day;
                    } else {
                        return '';
                    }
                }
            },

            {
                header: '재직 상태',
                name: 'empStatus',align: 'center',
                formatter: function (status) {
                    return status.value ? setStatus(status.value) : '';
                },
                filter: 'select'
            }
        ],
        rowHeaders: ['rowNum'],
        pageOptions: {
            useClient: true,
            perPage: 10
        }
    });

    // 직급명을 한글로 변환하는 함수
    function setGrade(grade) {
        // 영어 직급명에 따라 해당하는 한글 반환
        switch (grade) {
            case 'EMPLOYEE':
                return '사원';
            case 'ASSISTANT':
                return '대리';
            case 'MANAGER':
                return '과장';
            case 'DEPUTY':
                return '차장';
            case 'HR':
                return '인사관리';
            case 'ADMIN':
                return '관리자';
            default:
                return grade; // 변환할 한글 부서명이 없는 경우 그대로 반환
        }
    }

    // 직급상태를 한글로 변환하는 함수
    function setStatus(status){

        if (status === 'ACTIVE') {
            return '재직';
        } else if (status === 'RETIREE') {
            return '퇴직';
        }
        return '';
    }



    //그리드 클릭 시 이벤트
    grid.on('click',function(ev){
        console.log(ev); // 그리드에서 제공하는 클릭 이벤트의 매개변수 값을 보기 위함
        const row = grid.getRow(ev.rowKey); //gird에서 제공하는 함수 로우키를 넣으면 해당하는 행의 값들을 보여줌
        console.log(row);
        document.getElementById('empSabun').value = row.empSabun;
        document.getElementById('empId').value = row.empId;
        document.getElementById('empBirth').value = formatDate(row.empBirth);
        document.getElementById('empName').value = row.empName;
        document.getElementById('empPhone').value = row.empPhone;
        document.getElementById('empAddr').value = row.empAddr;
        document.getElementById('empEmail').value = row.empEmail;
        document.getElementById('empDept').value = row.empDept;
        document.getElementById('empGrade').value = row.empGrade;
        document.getElementById('empStatus').value = row.empStatus;
        document.getElementById('empFirstDt').value = formatDate(row.empFirstDt);
        document.getElementById('empLastDt').value = formatDate(row.empLastDt);
        statusChange();
        console.log(empStatus);
        myModal.show(myModal);

        const requestData={
            empStatus:row.empStatus,
            empDept:row.empDept,
            empGrade:row.empGrade,
            updateEmpId:row.empId
        }

        console.log("empStatus"+requestData.empStatus)
        console.log("empDept"+requestData.empDept)
        console.log("empGrade"+requestData.empGrade)
        console.log("updateEmpId"+requestData.updateEmpId)

    });

    // 날짜 "yyyy-MM-dd" 형식으로 변환
    function formatDate(date) {
        if (!date || date === null) {
            return '';
        }
        var formattedDate = new Date(date);
        formattedDate.setDate(formattedDate.getDate() + 1);
        formattedDate = formattedDate.toISOString().substring(0,10);
        return formattedDate;
    };

    // 재직 상태 변경 이벤트 핸들러
    function statusChange() {
        var empStatus = document.getElementById('empStatus').value;
        var empLastDtInput = document.getElementById('empLastDt');
        var empDeptInput = document.getElementById('empDept');
        var empGradeInput = document.getElementById('empGrade');


        if (empStatus === 'RETIREE') {
            empLastDtInput.disabled = false;
            empDeptInput.disabled = true;
            empGradeInput.disabled = true;
        } else {
            empLastDtInput.disabled = true;
            empLastDtInput.value = ''; // 퇴사일자 입력란 초기화
            empDeptInput.disabled = false;
            empGradeInput.disabled = false;
        }
    };

    // myModal._element.addEventListener('show.bs.modal', function () {
    //     statusChange();
    // });
    //
    // myModal._element.addEventListener('hidden.bs.modal', function () {
    //     if (!isRetiree) {
    //         empLastDtInput.disabled = true;
    //         empLastDtInput.value = '';
    //     }
    // });


    function updateEmp() {

        var header = $("meta[name='_csrf_header']").attr('content');
        var token = $("meta[name='_csrf']").attr('content');
        $(document).ajaxSend(function(e,xht,op){
            xht.setRequestHeader(header ,token);
        });
        // requestData 변수 선언 및 초기화
        const requestDat = {
            empStatus: document.getElementById('empStatus').value,
            empDept: document.getElementById('empDept').value,
            empGrade: document.getElementById('empGrade').value,
            updateEmpId: document.getElementById('empId').value,
            empLastDt: document.getElementById('empLastDt').value
        };
        console.log("empStatus2"+requestDat.empStatus)
        console.log("empGrade2"+requestDat.empGrade)
        console.log("empDept2"+requestDat.empDept)
        console.log("updateEmpId2"+requestDat.updateEmpId)
        console.log("empLastDt"+requestDat.empLastDt)
        console.log(requestDat);

        // 업데이트 아작스
        $.ajax({
            type: "POST",
            url: "/hr/updateEmp",
            data: JSON.stringify(requestDat),
            dataType: 'text',
            contentType: 'application/json;charset=utf-8',
            success: function(response) {
                console.log(response)
                window.location.pathname = "/hr/emp-list";
            },
            error: function(error) {
                console.log(error)
                alert(JSON.stringify(error));

            }

        });

    }

</script>

<!-- Google Tag Manager (noscript) -->

<noscript
><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
></iframe
></noscript>
<!-- End Google Tag Manager (noscript) -->
</html>