<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  class="no-js" lang="zxx" xmlns:layout="http://www.w3.org/1999/xhtml">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<!-- include/layout.html-->
<th:block th:replace="~{/include/layout :: setContent( ~{:: #wrap}  ) }">
    <section id="wrap">
    </section>
</th:block>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

<div class="mobile-menu-overlay"></div>
    <div class="main-container" >
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">
                <div class="page-header">
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="title">
                                <h4>신규 입사자 등록</h4>
                            </div>
                            <nav aria-label="breadcrumb" role="navigation">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a >인사 관리</a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page">
                                        신규 입사자 등록
                                    </li>
                                </ol>
                            </nav>
                        </div>
                        <div class="col-md-6 col-sm-12 text-right">

                        </div>
                    </div>
                </div>
                <div class="card-align">
                    <div class="pd-20 card-box mb-30">
                        <h4 class="h4 text-blue mb-10" > 신규 입사자 정보 </h4>
                        <form th:action="@{/hr/insert-new-emp}" method="post" id="insert-new-emp-form" onsubmit="return insertNewEmp()">
                            <div class="form-group row">
                                <label class="col-sm-12 col-md-2 col-form-label">사원 이름</label>
                                <div class="col-sm-12 col-md-7">
                                    <input class="form-control" value="" type="text" th:name="newName" id="newName" >
                                    <p id="checkNameMessage"></p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-12 col-md-2 col-form-label">생년월일</label>
                                <div class="col-sm-12 col-md-7">
                                    <input class="form-control" type="text" th:name="newBirth" id="newBirth" >
                                    <p id="checkBirthMessage"></p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-12 col-md-2 col-form-label">전화번호</label>
                                <div class="col-sm-12 col-md-7">
                                    <input class="form-control" type="text" th:name="newPhone" id="newPhone">
                                    <p id="checkPhoneMessage"></p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-12 col-md-2 col-form-label">주소</label>
                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <label for="newZipcode">우편번호</label>
                                    <input type="text" class="form-control"  th:name="newZipcode" id="newZipcode" readonly>
                                    <p id="checkZipMessage"></p>
                                </div>
                                <div class="form-group col-md-8">
                                    <label for="newAddr">주소</label>
                                    <input type="text" class="form-control" th:name="newAddr" id="newAddr" readonly>
                                    <p id="checkAddrMessage"></p>
                                </div>
                                <div class="form-group col-md-9">
                                    <label for="newDetailAddr">상세 주소</label>
                                    <input type="text" class="form-control" th:name="newDetailAddr" id="newDetailAddr">
                                </div>
                                <div style="text-align : right; margin-top: 4%;">
                                   <button type="button" class="btn btn-primary" onclick="sample6_execDaumPostcode()">우편번호 찾기</button>
                               </div>
                              </div>
                            </div>
                           <div class="form-group row">
                                <label class="col-sm-12 col-md-2 col-form-label">지원 직무</label>
                                <div class="form-group col-md-4">
                                    <select id="newDept" th:name="newDept" class="form-control">
                                        <option selected value="개발 1팀">개발 1팀</option>
                                        <option value="개발 2팀">개발 2팀</option>
                                        <option value="개발 3팀">개발 3팀</option>
                                        <option value="인사팀">인사팀</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-12 col-md-2 col-form-label">직급</label>
                                <div class="form-group col-md-4">
                                    <select id="newGrade" th:name="newGrade" class="form-control">
                                        <option selected value="EMPLOYEE">사원</option>
                                        <option value="ASSISTANT">대리</option>
                                        <option value="MANAGER">과장</option>
                                        <option value="DEPUTY">차장</option>
                                        <option value="HR">인사관리</option>
                                        <option value="ADMIN">관리자</option>
                                    </select>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-primary" onclick=" return confirmCheck()">
                                    <div class="insert">추가</div>
                                </button>
                                <button type="button" class="btn btn-secondary" onclick="goBack()">뒤로가기</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:replace="~{/include/footer :: setContent( ~{:: #footer}  ) }">
    <section id="footer">
    </section>
</th:block>
<!-- buttons for Export datatable -->
<script src="/plugins/datatables/js/dataTables.buttons.min.js"></script>
<script src="/plugins/datatables/js/buttons.print.min.js"></script>
<script src="/plugins/datatables/js/buttons.html5.min.js"></script>
<script src="/plugins/datatables/js/buttons.flash.min.js"></script>
<script src="/plugins/datatables/js/pdfmake.min.js"></script>
<script src="/plugins/datatables/js/vfs_fonts.js"></script>
<!-- Google Tag Manager (noscript) -->
<!-- add sweet alert js & css in footer -->
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

<script th:inline="javascript">
    document.getElementById("newName").addEventListener('input',function(){
        let newName = document.getElementById("newName").value.length;
        if (newName <= 0) {
            document.getElementById("checkNameMessage").innerText = "이름을 입력해주세요";
            return false;
        } else {
            document.getElementById("checkNameMessage").innerText = " ";
        }
    })

    document.getElementById("newBirth").addEventListener('input', function() {
        let newBirth = document.getElementById("newBirth").value;
        let birthRegex = /^\d{4}-\d{2}-\d{2}$/; // YYYY-MM-DD 형식을 검사하는 정규식

        if (newBirth.length <= 0) {
            document.getElementById("checkBirthMessage").innerText = "생년월일을 입력해주세요";
            return false;
        } else if (!birthRegex.test(newBirth)) {
            document.getElementById("checkBirthMessage").innerText = "올바른 생년월일 형식(YYYY-MM-DD)으로 입력해주세요";
            return false;
        } else {
            document.getElementById("checkBirthMessage").innerText = " ";
        }
    })

    document.getElementById("newPhone").addEventListener('input',function(){
        let newPhone = document.getElementById("newPhone").value;
        if (newPhone.length <= 0) {
            document.getElementById("checkPhoneMessage").innerText = "연락처를 입력해주세요";
            return false;
        } else if(/^[0-9]{3}-[0-9]{3,4}-[0-9]{4}$/.test(newPhone)) {
            document.getElementById("checkPhoneMessage").innerText = " ";
        } else {
            document.getElementById("checkPhoneMessage").innerText = "올바른 연락처 번호를 입력해주세요 ex) 010-1234-5678";


        }
    })

    document.getElementById("newAddr").addEventListener('input',function(){
        let newAddr = document.getElementById("newAddr").value.length;
        if (newAddr <= 0) {
            document.getElementById("checkAddrMessage").innerText = "주소를 입력해주세요";
            return false;
        } else {
            document.getElementById("checkAddrMessage").innerText = " ";
        }
    })

    document.getElementById("newZipcode").addEventListener('input',function(){
        let newZipcode = document.getElementById("newZipcode").value.length;
        if (newZipcode <= 0) {
            document.getElementById("checkZipMessage").innerText = "우편번호를 입력해주세요";
            return false;
        } else {
            document.getElementById("checkZipMessage").innerText = " ";
        }
    })

    function confirmCheck() {
        if (!confirmCheck()) {
            return false;
        }

        return confirm("수정하시겠습니까?");
    }


    // 유효성 검사
    function insertNewEmp() {

        let newPhone = document.getElementById("newPhone").value;
        let newName = document.getElementById("newName").value;
        let newBirth = document.getElementById("newBirth").value;
        let newAddr = document.getElementById("newAddr").value;
        let newZipcode = document.getElementById("newZipcode").value;
        let newDetailAddr = document.getElementById("newDetailAddr").value;

        document.getElementById("newDetailAddr").value = newDetailAddr;

        if (newName == null || newName.trim() == "") {
            document.getElementById("newName").focus();
            document.getElementById("checkNameMessage").innerText = "이름을 입력해주세요";
            return false;
        } else {
            document.getElementById("checkNameMessage").innerText = " ";
        }

        if (newBirth == null || newBirth.trim() == "") {
            document.getElementById("newBirth").focus();
            document.getElementById("checkBirthMessage").innerText = "생년월일을 입력해주세요";
            return false;
        } else {
            document.getElementById("checkBirthMessage").innerText = " ";
        }


        if (newPhone === null || newPhone.trim() === "") {
            document.getElementById("newPhone").focus();
            document.getElementById("checkPhoneMessage").innerText = "연락처를 입력해주세요"
            return false;
        } else if (/^[0-9]{3}-[0-9]{3,4}-[0-9]{4}$/.test(newPhone)) {
            document.getElementById("checkPhoneMessage").innerText = " ";
        } else {
            document.getElementById("newPhone").focus();
            document.getElementById("checkPhoneMessage").innerText = "올바른 연락처 번호를 입력해주세요 ex) 010-1234-5678";
            return false;
        }

        if (newAddr === null || newAddr.trim() === "") {
            document.getElementById("newAddr").focus();
            document.getElementById("checkAddrMessage").innerText = "주소를 입력해주세요";
            return false;
        } else {
            document.getElementById("checkAddrMessage").innerText = " ";
        }


        if (newZipcode === null || newZipcode.trim() === "") {
            document.getElementById("newZipcode").focus();
            document.getElementById("checkZipMessage").innerText = "우편번호를 입력해주세요";
            return false;
        } else {
            document.getElementById("checkZipMessage").innerText = " ";
        }


        if (newEmail === null || newEmail.trim() === "") {
            document.getElementById("newEmail").focus();
            document.getElementById("checkEmailMessage").innerText = "이메일을 입력해주세요";
            return false;
        } else {
            document.getElementById("checkEmailMessage").innerText = " ";
        }

        // document.getElementById('insert-new-emp-form').submit();
    };



    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                console.log(data);
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.


                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('newZipcode').value = data.zonecode;
                document.getElementById("newAddr").value = data.address;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("newDetailAddr").focus();
            }
        }).open();
    }



    function goBack() {
        history.back(); // 이전 상태로 이동
    }


</script>


<script th:inline="javascript">

<!--    document.getElementById("newName").addEventListener('input',function(){-->
<!--        let newName = document.getElementById("newName").value.length;-->
<!--        if (newName <= 0) {-->
<!--            document.getElementById("checkNameMessage").innerText = "이름을 입력해주세요";-->
<!--            return false;-->
<!--        } else {-->
<!--            document.getElementById("checkNameMessage").innerText = " ";-->
<!--        }-->
<!--    })-->

<!--    document.getElementById("newPhone").addEventListener('input',function(){-->
<!--        let newPhone = document.getElementById("newPhone").value;-->
<!--        if (newPhone.length <= 0) {-->
<!--            document.getElementById("checkPhoneMessage").innerText = "연락처를 입력해주세요";-->
<!--            return false;-->
<!--        } else if(/^[0-9]{3}-[0-9]{3,4}-[0-9]{4}$/.test(newPhone)) {-->
<!--            document.getElementById("checkPhoneMessage").innerText = " ";-->
<!--        } else {-->
<!--            document.getElementById("checkPhoneMessage").innerText = "올바른 연락처 번호를 입력해주세요 ex) 010-1234-5678";-->


<!--        }-->
<!--    })-->

<!--    document.getElementById("newEmail").addEventListener('input',function(){-->
<!--        let newEmail = document.getElementById("newEmail").value.length;-->
<!--        if (newEmail <= 0) {-->
<!--            document.getElementById("checkEmailMessage").innerText = "이메일을 입력해주세요";-->
<!--            return false;-->
<!--        } else {-->
<!--            document.getElementById("checkEmailMessage").innerText = " ";-->
<!--        }-->
<!--    })-->

<!--    document.getElementById("newAddr").addEventListener('input',function(){-->
<!--        let newAddr = document.getElementById("newAddr").value.length;-->
<!--        if (newAddr <= 0) {-->
<!--            document.getElementById("checkAddrMessage").innerText = "주소를 입력해주세요";-->
<!--            return false;-->
<!--        } else {-->
<!--            document.getElementById("checkAddrMessage").innerText = " ";-->
<!--        }-->
<!--    })-->

<!--    document.getElementById("newZipcode").addEventListener('input',function(){-->
<!--        let newZipcode = document.getElementById("newZipcode").value.length;-->
<!--        if (newZipcode <= 0) {-->
<!--            document.getElementById("checkZipMessage").innerText = "우편번호를 입력해주세요";-->
<!--            return false;-->
<!--        } else {-->
<!--            document.getElementById("checkZipMessage").innerText = " ";-->
<!--        }-->
<!--    })-->



<!--    // 유효성 검사-->
<!--    function insertNewEmp() {-->

<!--        let newPhone = document.getElementById("newPhone").value;-->
<!--        let newName = document.getElementById("newName").value;-->
<!--        let newEmail = document.getElementById("newEmail").value;-->
<!--        let newAddr = document.getElementById("newAddr").value;-->
<!--        let newZipcode = document.getElementById("newZipcode").value;-->


<!--        if (newName == null || newName.trim() == "") {-->
<!--            document.getElementById("newName").focus();-->
<!--            document.getElementById("checkNameMessage").innerText = "이름을 입력해주세요";-->
<!--            return false;-->
<!--        } else {-->
<!--            document.getElementById("checkNameMessage").innerText = " ";-->
<!--        }-->


<!--        if (newPhone === null || newPhone.trim() === "") {-->
<!--            document.getElementById("newPhone").focus();-->
<!--            document.getElementById("checkPhoneMessage").innerText = "연락처를 입력해주세요"-->
<!--            return false;-->
<!--        } else if (/^[0-9]{3}-[0-9]{3,4}-[0-9]{4}$/.test(newPhone)) {-->
<!--            document.getElementById("checkPhoneMessage").innerText = " ";-->
<!--        } else {-->
<!--            document.getElementById("newPhone").focus();-->
<!--            document.getElementById("checkPhoneMessage").innerText = "올바른 연락처 번호를 입력해주세요 ex) 010-1234-5678";-->
<!--            return false;-->
<!--        }-->

<!--        if (newAddr === null || newAddr.trim() === "") {-->
<!--            document.getElementById("newAddr").focus();-->
<!--            document.getElementById("checkAddrMessage").innerText = "주소를 입력해주세요";-->
<!--            return false;-->
<!--        } else {-->
<!--            document.getElementById("checkAddrMessage").innerText = " ";-->
<!--        }-->


<!--        if (newZipcode === null || newZipcode.trim() === "") {-->
<!--            document.getElementById("newZipcode").focus();-->
<!--            document.getElementById("checkZipMessage").innerText = "우편번호를 입력해주세요";-->
<!--            return false;-->
<!--        } else {-->
<!--            document.getElementById("checkZipMessage").innerText = " ";-->
<!--        }-->


<!--        if (newEmail === null || newEmail.trim() === "") {-->
<!--            document.getElementById("newEmail").focus();-->
<!--            document.getElementById("checkEmailMessage").innerText = "이메일을 입력해주세요";-->
<!--            return false;-->
<!--        } else {-->
<!--            document.getElementById("checkEmailMessage").innerText = " ";-->
<!--        }-->

<!--        // document.getElementById('insert-new-emp-form').submit();-->
<!--    };-->

   // /*<![CDATA[*/
   //
   // <!-- 유효성검사 -->
   // document.querySelector(".insert").addEventListener("click", function(event){
   //     event.preventDefault();
   //
   //
   //     const newPhone = document.getElementById( "newPhone" ).value;
   //     const newName = document.getElementById( "newName" ).value;
   //     const newEmail = document.getElementById( "newEmail" ).value;
   //
   //     if ( /^[0-9]{3}-[0-9]{3,4}-[0-9]{4}$/.test( newPhone ) ) {
   //         document.getElementById( "checkPhoneMessage" ).innerText = " ";
   //         return true;
   //     } else {
   //         document.getElementById( "checkPhoneMessage" ).innerText = "올바른 연락처 번호를 입력해주세요 ex) 010-1234-5678";
   //     }
   //
   //     if(newName === null || newName === ""){
   //         document.getElementById( "checkNameMessage" ).innerText = "이름을 입력해주세요";
   //     } else
   //     document.getElementById( "checkNameMessage" ).innerText = " ";
   //
   //
   //     if(newEmail === null || newEmail === ""){
   //         document.getElementById( "checkEmailMessage" ).innerText = "이메일을 입력해주세요";
   //     }
   //     document.getElementById( "checkEmailMessage" ).innerText = " ";
   //     return true;
   // })


    //
    // <!--  modal  -->
    // const modalToggle = document.getElementById('exampleModal');
    // const modal = new bootstrap.Modal(document.getElementById('exampleModal'));
    //
    // <!-- modal js code -->
    // function openModalToPwd() {
    //     const modal = new bootstrap.Modal(document.getElementById('exampleModal'));
    //     if (!modal._isShown) {
    //         modal.show();
    //     }
    // }
    //
    // function closeModal() {
    //     const modals = bootstrap.Modal.getInstance(document.getElementById('modal'));
    //     for (let i = 0; i < modals.length; i++) {
    //         const modal = bootstrap.Modal.getInstance(modals[i]);
    //         modal.hide();
    //     }
    // }

    // $('input[type="submit"]').on('click', function (event) {
    //     event.preventDefault(); // 기본 제출 동작 방지
    //     swal('휴가가 신청되었습니다.').then(function () {
    //         window.location.href = 'vacation-list';
    //     });
    // });
</script>
<script src="../src/plugins/sweetalert2/sweetalert2.all.js"></script>
<script src="../src/plugins/sweetalert2/sweet-alert.init.js"></script>
<script src="../src/plugins/jquery-steps/jquery.steps.js"></script>
<script src="../vendors/scripts/steps-setting.js"></script>
<noscript
><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
></iframe
></noscript>
<!-- End Google Tag Manager (noscript) -->
</body>
</html>
