<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" class="no-js" lang="zxx">
<!-- include/layout.html-->
<th:block th:replace="~{/include/layout :: setContent( ~{:: #wrap}  ) }">
    <section id="wrap">
    </section>
</th:block>

<div class="mobile-menu-overlay"></div>

<div class="main-container">
    <div class="pd-ltr-20">


        <div class="page-header">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <div class="title">
                        <h4>증명서</h4>
                    </div>
                    <nav aria-label="breadcrumb" role="navigation">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="index.html">증명서 발급</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                발급완료
                            </li>
                        </ol>
                    </nav>

                </div>

                <div class="col-md-6 col-sm-12 text-right">

                </div>
            </div>
        </div>


        <div class="card-box pd-20 height-100-p mb-30">
            <div class="row pb-30" style="height: 30px;"></div>

            <div class="col text-center">
                <div class="row pb-30" style="height: 50px;"></div>
                <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="cornflowerblue"
                     class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
                <h4 class="font-20 weight-500 mb-10 text-capitalize">
                    METAIN
                    <div class="weight-600 font-30 text-blue">증명서 발급완료!</div>
                </h4>
                <div class="row pb-30" style="height: 30px;"></div>
            </div>
            <div class="row">
                <div class="col">
                    <p class="font-18 text-center">
                        user 님, 증명서가 발급 완료되었습니다. <br>
                        마이페이지 - 내 증명서 발급내역에서 확인가능합니다.
                    </p>
                    <div class="row pb-30" style="height: 50px;"></div>
                </div>
                <div class="row pb-30" style="height: 30px;"></div>
            </div>
            <!-- </div> -->
            <div class="row">
                <div class="col text-center">

                    <!--          <button type="submit" class="btn btn-primary btn-lg" onclick="location.replace('my-certification-list.html');">-->
                    <!--            발급내역 페이지로 이동-->
                    <!--          </button>-->


                    <button type="button" class="btn btn-primary btn-lg">
                        <a class="text-white" href="/mypage/my-cert-list">발급내역 페이지로 이동</a>
                    </button>
                    <!--          href="/certification/my-cert-list"-->
                    <span>증명서 종류 데이터 전달됐나 확인 ! 증명서 종류 : [[${certSort}]]</span>


                    <div class="row pb-30" style="height: 60px;"></div>
                </div>
            </div>
        </div>


        <div class="footer-wrap pd-20 mb-20 card-box">
            메타인(주)
            <a href="https://github.com/dropways" target="_blank"
            >METAIN</a
            >
        </div>
    </div>
</div>


<!-- 재직증명서 인쇄할 문서 부분: 출력 X  style="display: none"-->
<div class="print-only position-relative" id="A01Div" style="visibility: hidden">
    <div class="invoice-box">
        <div class="invoice-header">
            <div class="logo text-center">
                <div class="col font-12 text-left" id="empCertSerialNum"></div>
                <div class="row pb-30"></div>
            </div>
        </div>
        <h4 class="text-center mb-30 weight-600">재직증명서</h4>
        <div class="row pb-30">
        </div>

        <div class="invoice-desc pb-30">

            <div class="invoice-desc-body">

                <table class="table table-bordered text-center">
                    <tbody>
                    <tr>
                        <td class="col-2 table-active">성명</td>
                        <td class="col-4" th:text="${certInfoDTO.empName}">홍길동</td>
                        <td class="col-2 table-active">생년월일</td>
                        <td th:text="${#dates.format(certInfoDTO.empBirth,'yyyy년 MM월 dd일')}">1991년 07월 12일</td>



                    </tr>
                    <tr>
                        <td class="col-2 table-active">주소</td>
                        <td colspan="3" th:text="${certInfoDTO.empAddr}">서울 금천구 호서벤치타워</td>
                    </tr>
                    <tr>
                        <td class="col-2 table-active">근무부서</td>
                        <td class="col-4" th:text="${certInfoDTO.empDept}">개발 1팀</td>
                        <td class="col-2 table-active">직위</td>
                        <td th:text="${certInfoDTO.empGrade}">대리</td>
                    </tr>
                    <tr>
                        <td class="col-2 table-active">입사일자</td>

                        <td colspan="3" th:text="${#dates.format(certInfoDTO.empFirstDt,'yyyy-MM-dd')}">2020-05-02 - 2023-05-29</td>
                    </tr>
                    <tr>
                        <td class="col-2 table-active">사용용도</td>
                        <td colspan="3" th:text="${certInfoDTO.useOfCert}">금융기관 제출용</td>
                    </tr>
                    </tbody>
                </table>

                <div class="row pb-30" style="height: 60px;"></div>
                <div class="col-12 text-center"> 상기와 같이 재직 중임을 증명합니다</div>
                <div class="row pb-30" style="height: 20px;"></div>
                <div class="col-12 text-center" th:text="${#dates.format(certList.certRegDate,'yyyy년 MM월 dd일')}"> 2023년 6월 11일 </div>

                <div class="row pb-30" style="height: 100px;"></div>

                <div class="row pb-30" style="height: 150px;"></div>

                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-3 text-center"> 주소:</div>
                    <div class="col-6 text-left"> 서울 금천구 호서대벤치타워</div>

                </div>
                <div class="row pb-30" style="height: 10px;"></div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-3 text-center"> 회사명:</div>
                    <div class="col-3 text-left"> 메타인컴퍼니(주)</div>
                    <div class="col-3"></div>
                </div>
                <div class="row pb-30" style="height: 10px;"></div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-3 text-center"> 대표이사:</div>
                    <div class="col-3 text-left"> 홍길동</div>
                    <div style="position: relative;">
                        <div class="col-3 text-left">(인)</div>
                        <!--            <img src="../src/images/metain-sign.png" alt="메타인 지장" width="120" height="120" >-->
                    </div>

                </div>

                <div class="row pb-30" style="height: 30px;"></div>

            </div>


        </div>

        <div class="invoice-desc-footer">
            <div class="invoice-desc-body">
            </div>
        </div>
    </div>
    <img class="img_absolute2" src="../src/images/metain-background-image.png" alt="메타인 지장" width="120" height="120">
</div>
<!--인쇄 div 끝 -->

<!-- 경력증명서 인쇄할 문서 부분: 출력 X -->
<div class="print-only" id="A02Div" style="visibility: hidden">
    <div class="invoice-box">
        <div class="invoice-header">
            <div class="logo text-center">
                <div class="col font-12 text-left" id="experCertSerialNum">제 A01-20230529-01 호</div>
                <div class="row pb-30"></div>
            </div>
        </div>
        <h4 class="text-center mb-30 weight-600">경력증명서</h4>
        <div class="row pb-30">
        </div>

        <div class="invoice-desc pb-30">

            <div class="invoice-desc-body">

                <table class="table table-bordered text-center">
                    <tbody>
                    <tr>
                        <td class="col-2 table-active">성명</td>
                        <td class="col-4" th:text="${certInfoDTO.empName}">홍길동</td>
                        <td class="col-2 table-active">생년월일</td>
                        <td th:text="${#dates.format(certInfoDTO.empBirth,'yyyy년 MM월 dd일')}">1991년 07월 12일</td>
                    </tr>
                    <tr>
                        <td class="col-2 table-active">주소</td>
                        <td colspan="3" th:text="${certInfoDTO.empAddr}">서울 금천구 호서벤치타워</td>
                    </tr>
                    <tr>
                        <td class="col-2 table-active">근무부서</td>
                        <td class="col-4" th:text="${certInfoDTO.empDept}">개발 1팀</td>
                        <td class="col-2 table-active">직위</td>
                        <td th:text="${certInfoDTO.empGrade}">대리</td>
                    </tr>
                    <tr>
                        <td class="col-2 table-active">경력사항</td>
<!--                        <td colspan="3" th:text="${certInfoDTO.empFirstDt}">2020-05-02 - 2023-05-29</td>-->
                        <td colspan="3" th:if="${certInfoDTO.empStatus == 'ACTIVE'}" th:text="${#dates.format(certInfoDTO.empFirstDt, 'yyyy-MM-dd') + ' - ' + #dates.format(#dates.createNow(), 'yyyy-MM-dd') +' 근무'}">2020-05-02 - 2023-05-29</td>
                        <td colspan="3" th:if="${certInfoDTO.empStatus == 'RETIREE'}" th:text="${#dates.format(certInfoDTO.empFirstDt, 'yyyy-MM-dd') + ' - ' + #dates.format(certInfoDTO.empLastDt,'yyyy-MM-dd') + '근무'}" ></td>
                    </tr>
                    <tr>
                        <td class="col-2 table-active">사용용도</td>
                        <td colspan="3" th:text="${certInfoDTO.useOfCert}">금융기관 제출용</td>
                    </tr>
                    </tbody>
                </table>

                <div class="row pb-30" style="height: 60px;"></div>
                <div class="col-12 text-center"> 상기와 같이 재직한 경력이 있음을 증명합니다</div>
                <div class="row pb-30" style="height: 20px;"></div>
                <div class="col-12 text-center" th:text="${#dates.format(certList.certRegDate,'yyyy년 MM월 dd일')}"> 2023년
                    05월 29일
                </div>

                <div class="row pb-30" style="height: 100px;"></div>

                <div class="row pb-30" style="height: 110px;"></div>

                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-3 text-center"> 주소:</div>
                    <div class="col-6 text-left"> 서울 금천구 호서대벤치타워</div>

                </div>
                <div class="row pb-30" style="height: 10px;"></div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-3 text-center"> 회사명:</div>
                    <div class="col-3 text-left"> 메타인컴퍼니(주)</div>
                    <div class="col-3"></div>
                </div>
                <div class="row pb-30" style="height: 10px;"></div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-3 text-center"> 대표이사:</div>
                    <div class="col-3 text-left"> 홍길동</div>
                    <div style="position: relative;">
                        <div class="col-3 text-left">(인)</div>
                        <!--                        <img src="../vendors/images/metain-sign.png" alt="메타인 지장" width="120" height="120">-->
                    </div>

                </div>

                <div class="row pb-30" style="height: 30px;"></div>

            </div>


        </div>

        <div class="invoice-desc-footer">
            <div class="invoice-desc-body">
            </div>
        </div>
    </div>
    <img class="img_absolute2" src="../src/images/metain-background-image.png" alt="메타인 지장" width="120" height="120">
</div>
<!--인쇄 div 끝 -->

<!-- 퇴직증명서 인쇄할 문서 부분: 출력 X -->
<div class="print-only" id="A03Div" style="visibility: hidden">
    <div class="invoice-box">
        <div class="invoice-header">
            <div class="logo text-center">
                <div class="col font-12 text-left" id="retireCertSerialNum">제 A01-20230529-01 호</div>
                <div class="row pb-30"></div>
            </div>
        </div>
        <h4 class="text-center mb-30 weight-600">퇴직증명서</h4>
        <div class="row pb-30">
        </div>

        <div class="invoice-desc pb-30">

            <div class="invoice-desc-body">

                <table class="table table-bordered text-center">
                    <tbody>
                    <tr>
                        <td class="col-2 table-active">성명</td>
                        <td class="col-4" th:text="${certInfoDTO.empName}">홍길동</td>
                        <td class="col-2 table-active">생년월일</td>
                        <td th:text="${#dates.format(certInfoDTO.empBirth,'yyyy년 MM월 dd일')}">1991년 07월 12일</td>
                    </tr>
                    <tr>
                        <td class="col-2 table-active">주소</td>
                        <td colspan="3" th:text="${certInfoDTO.empAddr}">서울 금천구 호서벤치타워</td>
                    </tr>
                    <tr>
                        <td class="col-2 table-active">최종 근무부서</td>
                        <td class="col-4" th:text="${certInfoDTO.empDept}">개발 1팀</td>
                        <td class="col-2 table-active">최종 직위</td>
                        <td th:text="${certInfoDTO.empGrade}">대리</td>
                    </tr>
                    <tr>
                        <td class="col-2 table-active">입사일자</td>
                        <td colspan="3" th:text="${#dates.format(certInfoDTO.empFirstDt, 'yyyy-MM-dd')}">2020-05-02 </td>
                    </tr>
                    <tr>
                        <td class="col-2 table-active">퇴직일자</td>
                        <td colspan="3" th:text="${#dates.format(certInfoDTO.empLastDt, 'yyyy-MM-dd')}">2023-06-02</td>
                    </tr>
                    <tr>
                        <td class="col-2 table-active">사용용도</td>
                        <td colspan="3" th:text="${certInfoDTO.useOfCert}">금융기관 제출용</td>
                    </tr>
                    </tbody>
                </table>

                <div class="row pb-30" style="height: 60px;"></div>
                <div class="col-12 text-center"> 상기와 같이 퇴직을 증명합니다</div>
                <div class="row pb-30" style="height: 20px;"></div>
                <div class="col-12 text-center" th:text="${#dates.format(certList.certRegDate,'yyyy년 MM월 dd일')}"> 2023년
                    05월 29일
                </div>

                <div class="row pb-30" style="height: 100px;"></div>

                <div class="row pb-30" style="height: 110px;"></div>

                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-3 text-center"> 주소:</div>
                    <div class="col-6 text-left"> 서울 금천구 호서대벤치타워</div>

                </div>
                <div class="row pb-30" style="height: 10px;"></div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-3 text-center"> 회사명:</div>
                    <div class="col-3 text-left"> 메타인컴퍼니(주)</div>
                    <div class="col-3"></div>
                </div>
                <div class="row pb-30" style="height: 10px;"></div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-3 text-center"> 대표이사:</div>
                    <div class="col-3 text-left"> 홍길동</div>
                    <div style="position: relative;">
                        <div class="col-3 text-left">(인)</div>
                        <!--                        <img src="../vendors/images/metain-sign.png" alt="메타인 지장" width="120" height="120">-->
                    </div>

                </div>

                <div class="row pb-30" style="height: 30px;"></div>

            </div>


        </div>

        <div class="invoice-desc-footer">
            <div class="invoice-desc-body">
            </div>
        </div>
    </div>
    <img class="img_absolute2" src="../src/images/metain-background-image.png" alt="메타인 지장" width="120" height="120">
</div>
<!--인쇄 div 끝 -->


<!-- js -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        console.log('페이지 dom 로드시 실행완료');

        // certSort 값에 따라 선택된 문서를 PDF로 저장
        var certSort = "[[${certSort}]]";

        var certId;
        if (certSort === "A01") {
            certId = "[[${certList.empCertId}]]";
        } else if (certSort === "A02") {
            certId = "[[${certList.experCertId}]]";
        } else if (certSort === "A03") {
            certId = "[[${certList.retireCertId}]]";
        }

        console.log('certSort인식 확인 ! : certSort = ' + certSort);
        console.log('certId인식 확인 ! : certID = ' + certId);
        captureAndSendImage(certSort, certId);
    });



    // AJAX를 사용하여 이미지 데이터를 서버로 전송합니다.
    function sendImageToServer(imageData, imageWidth, imageHeight, certSort, certId) {
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/certification/convertToPdf', true);
        xhr.setRequestHeader('Content-Type', 'application/json');
        console.log('ajax 위한 함수 호출 성공!');
        console.log('certsort확인3' + certSort);
        console.log('certId확인3' + certId)


        // 요청 데이터 설정
        var imageRequestData = {
            imageData: imageData,
            imageWidth: imageWidth,
            imageHeight: imageHeight,
            certSort: certSort, // certSort 값을 함께 전송
            certId: certId
        };


        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                console.log('Image saved on the server!');


            }
        };
        // 요청 데이터 전송
        xhr.send(JSON.stringify(imageRequestData));
        console.log('ajax전송성공!' + imageRequestData);
    }


    // 특정 div를 이미지로 변환하고 서버로 전송합니다.
    function captureAndSendImage(certSort, certId) {
        console.log('캡쳐함수불림');

        var targetDiv;

        if (certSort === "A01") {
            targetDiv = document.getElementById('A01Div');
        } else if (certSort === "A02") {
            targetDiv = document.getElementById('A02Div');
        } else if (certSort === "A03") {
            targetDiv = document.getElementById('A02Div');
        }

        console.log('캡쳐함수내부에서 certSort 인식확인 ' + targetDiv);
        console.log('certID확인 2' + certId)
        // var targetDiv = document.getElementById('A01Div');
        targetDiv.style.visibility = 'visible';

        html2canvas(targetDiv).then(function (canvas) {
            var imageData = canvas.toDataURL('image/png');

            var image = new Image();
            image.src = imageData;
            image.onload = function () {
                var imageWidth = image.width;
                var imageHeight = image.height;
                console.log('이미지 크기: x-', imageWidth, ' y - ', imageHeight);
                // 이미지 데이터를 서버로 전송합니다.
                sendImageToServer(imageData, imageWidth, imageHeight, certSort, certId);
                console.log('이미지생성!' + imageData);
            };
            targetDiv.style.visibility = 'hidden';

        });
    }

</script>

<script th:inline="javascript">

    // 오늘날짜 지정
    var currentDate = new Date();
    var year = currentDate.getFullYear();
    var month = currentDate.getMonth() + 1;
    var day = currentDate.getDate();

    // 날짜 형식 설정 (예: 2023년 6월 13일)
    //var formattedDate = year + month + day ;
    var formattedDate = year.toString() + month.toString().padStart(2, '0') + day.toString().padStart(2, '0');

    /* 타임리프로 가져온 값을 JavaScript 변수에 할당 */
    var certSort = /*[[${certSort}]]*/ '';


    // HTML 콘텐츠에 각 증명서별로 동적으로 시리얼넘버 출력
    var certId;

    if (certSort === "A01") {
        certId = /*[[${certList.empCertId}]]*/'';
        var customedSerial = '제 ' + certSort + '-' + formattedDate + '-' + certId + ' 호';
        document.getElementById("empCertSerialNum").innerText = customedSerial;
    } else if (certSort === "A02") {
        certId = /*[[${certList.experCertId}]]*/'';
        var customedSerial = '제 ' + certSort + '-' + formattedDate + '-' + certId + ' 호';
        document.getElementById("experCertSerialNum").innerText = customedSerial;
    } else if (certSort === "A03") {
        certId = /*[[${certList.retireCertId}]]*/'';
        var customedSerial = '제 ' + certSort + '-' + formattedDate + '-' + certId + ' 호';
        document.getElementById("retireCertSerialNum").innerText = customedSerial;
    }

</script>

<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script src="vendors/scripts/core.js"></script>
<script src="vendors/scripts/script.min.js"></script>
<script src="vendors/scripts/process.js"></script>
<script src="vendors/scripts/layout-settings.js"></script>
<script src="src/plugins/apexcharts/apexcharts.min.js"></script>
<script src="src/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="src/plugins/datatables/js/dataTables.responsive.min.js"></script>
<script src="src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
<script src="vendors/scripts/dashboard.js"></script>
<!-- Google Tag Manager (noscript) -->
<noscript
>
    <iframe
            src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
            height="0"
            width="0"
            style="display: none; visibility: hidden"
    ></iframe
    >
</noscript>
<!-- End Google Tag Manager (noscript) -->
</body>
</html>
