<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="" class="no-js" lang="zxx" xmlns:layout="http://www.w3.org/1999/xhtml">

<!-- include/layout.html-->
<th:block th:replace="~{/include/layout :: setContent( ~{:: #wrap}  ) }">
  <section id="wrap">
  </section>
</th:block>

<div class="mobile-menu-overlay"></div>

<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-150px">
      <div class="page-header">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="title">
              <h4>재직증명서</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="index.html">재직증명서 발급</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  정보입력
                </li>
              </ol>
            </nav>
          </div>
          <div class="col-md-6 col-sm-12 text-right">
<!--            <div class="applybutton">-->
<!--              <a-->
<!--                      class="btn btn-primary apply"-->
<!--                      href="emp-cert-complete"-->
<!--                      role="button"-->
<!--              >-->
<!--                완료-->
<!--              </a>-->

<!--            </div>-->
          </div>
        </div>
      </div>
    </div>


    <!-- seoyyy 입력폼 커스텀 horizontal Basic Forms Start -->
    <div class="pd-20 card-box mb-30">
      <div class="clearfix">
        <div class="pull-left">
          <h4 class="text-blue h4">필수입력 정보</h4>
          <p class="mb-30">정보를 확인해주세요</p>
        </div>
        <!-- <div class="pull-right">
            <a
                href="#horizontal-basic-form1"
                class="btn btn-primary btn-sm scroll-click"
                rel="content-y"
                data-toggle="collapse"
                role="button"
                ><i class="fa fa-code"></i> Source Code</a
            >
        </div> -->
      </div>
      <form action="#">

        <div class="form-group">
          <label>이름</label>
          <input
                  class="form-control"
                  type="text"
                  placeholder="홍길동"
                  readonly
          />
        </div>

        <div class="form-group">
          <label>생년월일</label>
          <input
                  class="form-control"
                  type="text"
                  placeholder="1990-05-02"
                  readonly
          />
        </div>

        <div class="form-group">
          <label>주소</label>
          <input
                  class="form-control"
                  type="text"
                  placeholder="서울 금천구 호서대벤치타워"
                  readonly
          />
        </div>

        <div class="form-group">
          <label>직위</label>
          <input
                  class="form-control"
                  type="text"
                  placeholder="대리"
                  readonly
          />
        </div>

        <div class="form-group">
          <label>근무 부서</label>
          <input
                  class="form-control"
                  type="text"
                  placeholder="개발 1팀"
                  readonly
          />
        </div>

        <div class="form-group">
          <label>입사일자</label>
          <input
                  class="form-control"
                  type="text"
                  placeholder="2021-04-03"
                  readonly
          />
        </div>


        <div class="form-group">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <label class="weight-600">사용 용도</label>
              <div class="custom-control custom-checkbox mb-5">
                <input
                        type="checkbox"
                        class="custom-control-input"
                        name="purposeOfUse"
                        id="customCheck1"
                        onclick="NoMultiChk(this)"
                />
                <label class="custom-control-label" for="customCheck1"
                >금융기관 제출</label
                >
              </div>
              <div class="custom-control custom-checkbox mb-5">
                <input
                        type="checkbox"
                        class="custom-control-input"
                        name="purposeOfUse"
                        id="customCheck2"
                        onclick="NoMultiChk(this)"
                />
                <label class="custom-control-label" for="customCheck2"
                >관공서 제출</label
                >
              </div>
              <div class="custom-control custom-checkbox mb-5">
                <input
                        type="checkbox"
                        class="custom-control-input"
                        name="purposeOfUse"
                        id="customCheck3"
                        onclick="NoMultiChk(this)"
                />
                <label class="custom-control-label" for="customCheck3"
                >학교 제출</label
                >
              </div>
              <div class="custom-control custom-checkbox mb-5">
                <input
                        type="checkbox"
                        class="custom-control-input"
                        name="purposeOfUse"
                        id="customCheck4"
                        onclick="NoMultiChk(this)"
                />
                <label class="custom-control-label" for="customCheck4"
                >기타</label
                >
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
            </div>
          </div>
        </div>


        <!-- <div class="form-group">
            <label>Textarea</label>
            <textarea class="form-control"></textarea>
        </div> -->

<!--        <div class="col-12 text-center">-->
<!--          &lt;!&ndash; <a-->
<!--              href="#horizontal-basic-form1"-->
<!--              class="btn btn-primary btn-lg"-->
<!--              rel="content-y"-->
<!--              role="button"-->
<!--              >완료</a-->
<!--          > &ndash;&gt;-->
<!--        <div class="col text-center">-->
<!--          <input class="btn btn-primary btm-lg" type="button" value="작성완료" onclick="return NotNullChk(); location.href='emp-cert-complete'" >-->
<!--        </div>-->
        <div class="col text-center">
<!--          <button type="button" class="btn btn-primary btm-lg" onclick="if (NotNullChk()) { location.href = 'emp-cert-complete'; }"-->
<!--          >작성 완료 </button>-->

<!--          <button type="button" class="btn btn-primary btm-lg" id="swalCert"-->
<!--          >작성 완료 </button>-->

          <button type="button" class="btn btn-primary btm-lg" onclick="validateAndSubmit()"
          >작성 완료 </button>
          <button type="button" class="btn btn-primary btm-lg" id= "#swalCert"
          >작성 완료 </button>

        </div>

      </form>
    </div>
  </div>
</div>
<!-- horizontal Basic Forms End -->



</div>
<div class="footer-wrap pd-20 mb-20 card-box">
  메타인(주)
  <a href="https://github.com/dropways" target="_blank"
  >METAIN</a
  >
</div>
</div>
</div>

<!-- js -->

<script>
  function NoMultiChk(chk){
    var obj = document.getElementsByName("purposeOfUse");
    for(var i=0; i<obj.length; i++){
      if(obj[i] != chk){
        obj[i].checked = false;
      }
    }
  }

  function validateAndSubmit() {
    //체크된 체크박스 개수
    var checkedCount = document.querySelectorAll('input[type="checkbox"]:checked').length;

    // 체크박스가 하나 이상인지 확인
    if (checkedCount < 1) {
      // 체크박스가 하나 이상이어야 한다는 경고창 표시
      swal("경고", "사용용도를 선택해주세요", "warning")
    } else {
      // 조건이 충족되었을 때 페이지 이동
      location.href = 'emp-cert-complete';
    }
  }



  // function NotNullChk(){
  //   var arrSelect = document.getElementsByName("purposeOfUse");
  //
  //   for(var i=0; i< arrSelect.length; i++){
  //
  //     if(arrSelect[i].checked){
  //       return true;
  //     }
  //   }
  //
  //   alert("사용용도를 선택하세요");
  //   return false;
  // }
</script>
<script src="../src/plugins/sweetalert2/sweetalert2.all.js"></script>
<script src="../src/plugins/sweetalert2/sweet-alert.init.js"></script>
<script src="vendors/scripts/core.js"></script>
<script src="vendors/scripts/script.min.js"></script>
<script src="vendors/scripts/process.js"></script>
<script src="vendors/scripts/layout-settings.js"></script>
<!-- Google Tag Manager (noscript) -->
<noscript
><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
></iframe
></noscript>
<!-- End Google Tag Manager (noscript) -->
</body>
</html>

