<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  class="no-js" lang="zxx">
<!-- include/layout.html-->
<th:block th:replace="~{/include/layout :: setContent( ~{:: #wrap}  ) }">
  <section id="wrap">
  </section>
</th:block>

<div class="mobile-menu-overlay"></div>

<div class="main-container">
  <div class="pd-ltr-20">


    <div class="page-header">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <div class="title">
            <h4>재직증명서</h4>
          </div>
          <nav aria-label="breadcrumb" role="navigation">
            <ol class="breadcrumb">
              <li class="breadcrumb-item">
                <a href="index.html">재직증명서 발급</a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">
                발급완료
              </li>
            </ol>
          </nav>

        </div>

        <div class="col-md-6 col-sm-12 text-right">

        </div>
      </div>
    </div>


    <div class="card-box pd-20 height-100-p mb-30">
      <div class="row pb-30" style="height: 30px;"></div>
      <!-- <div class="row align-items-center"> -->
      <!-- <div class="col-md-4">
          <img src="vendors/images/banner-img.png" alt="" />
      </div> -->
      <div class="col text-center">
        <div class="row pb-30" style="height: 50px;"></div>
        <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" fill="cornflowerblue" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
        </svg>
        <h4 class="font-20 weight-500 mb-10 text-capitalize">
          METAIN
          <div class="weight-600 font-30 text-blue">재직증명서 발급완료!</div>
        </h4>
        <div class="row pb-30" style="height: 30px;"></div>
      </div>
      <div class="row">
        <div class="col">
          <p class="font-18 text-center">
            user 님, 재직증명서가 발급 완료되었습니다. <br>
            마이페이지 - 내 증명서 발급내역에서 확인가능합니다.
          </p>
          <div class="row pb-30" style="height: 50px;"></div>
        </div>
        <div class="row pb-30" style="height: 30px;"></div>
      </div>
      <!-- </div> -->
      <div class="row">
        <div class="col text-center">

<!--          <button type="submit" class="btn btn-primary btn-lg" onclick="location.replace('my-certification-list.html');">-->
<!--            발급내역 페이지로 이동-->
<!--          </button>-->

              <button type="button" class="btn btn-primary btn-lg" onclick="printDiv()">
                <a class="text-white" href="/my-cert-list">발급내역 페이지로 이동</a>
              </button>
          <span>증명서 종류 데이터 전달됐나 확인 ! 증명서 종류 : [[${certSort}]]</span>


<!--            <input class="btn btn-primary btm-lg" type="button" value="발급내역 페이지로 이동" onclick="location.href='my-cert-list'">-->


<!--                <a-->
<!--                  class="btn btn-primary btn-lg"-->
<!--                  href="my-certification-list"-->
<!--                >-->
<!--                  발급내역 페이지로 이동-->
<!--                </a>-->

          <div class="row pb-30" style="height: 60px;"></div>
        </div>
      </div>
    </div>



    <div class="footer-wrap pd-20 mb-20 card-box">
      메타인(주)
      <a href="https://github.com/dropways" target="_blank"
      >METAIN</a
      >
    </div>
  </div>
</div>



<!-- 재직증명서 인쇄할 문서 부분: 출력 X -->
<div class="print-only" id="A01Div" style="display: none">
  <div class="invoice-box">
    <div class="invoice-header">
      <div class="logo text-center">
        <div class="col font-12 text-left">제 A01-20230529-01 호</div>
        <div class="row pb-30"></div>
      </div>
    </div>
    <h4 class="text-center mb-30 weight-600">재직증명서</h4>
    <div class="row pb-30">
    </div>

    <div class="invoice-desc pb-30">

      <div class="invoice-desc-body">

        <table class="table table-bordered text-center">
          <tbody>
          <tr>
            <td class="col-2 table-active">성명</td>
            <td class="col-4">홍길동</td>
            <td class="col-2 table-active">생년월일</td>
            <td>1991년 07월 12일</td>
          </tr>
          <tr>
            <td class="col-2 table-active">주소</td>
            <td colspan="3">서울 금천구 호서벤치타워</td>
          </tr>
          <tr>
            <td class="col-2 table-active">근무부서</td>
            <td class="col-4">개발 1팀</td>
            <td class="col-2 table-active">직위</td>
            <td>대리</td>
          </tr>
          <tr>
            <td class="col-2 table-active">재직기간</td>
            <td colspan="3">2020-05-02 - 2023-05-29</td>
          </tr>
          <tr>
            <td class="col-2 table-active">사용용도</td>
            <td colspan="3">금융기관 제출용</td>
          </tr>
          </tbody>
        </table>

        <div class="row pb-30" style="height: 60px;"></div>
        <div class="col-12 text-center"> 상기와 같이 재직 중임을 증명합니다 </div>
        <div class="row pb-30" style="height: 20px;"></div>
        <div class="col-12 text-center"> 2023년 05월 29일 </div>

        <div class="row pb-30" style="height: 100px;"></div>

        <div class="row pb-30" style="height: 150px;"></div>

        <div class="row">
          <div class="col-2"></div>
          <div class="col-3 text-center"> 주소: </div>
          <div class="col-6 text-left">  서울 금천구 호서대벤치타워 </div>

        </div>
        <div class="row pb-30" style="height: 10px;"></div>
        <div class="row">
          <div class="col-2"></div>
          <div class="col-3 text-center"> 회사명: </div>
          <div class="col-3 text-left">  메타인컴퍼니(주) </div>
          <div class="col-3"></div>
        </div>
        <div class="row pb-30" style="height: 10px;"></div>
        <div class="row">
          <div class="col-2"></div>
          <div class="col-3 text-center"> 대표이사: </div>
          <div class="col-3 text-left">  홍길동 </div>
          <div style="position: relative;">
            <div class="col-3 text-left" >(인)</div>
            <img src="../vendors/images/metain-sign.png" alt="메타인 지장" width="120" height="120" >
          </div>

        </div>

        <div class="row pb-30" style="height: 30px;"></div>

      </div>


    </div>

    <div class="invoice-desc-footer">
      <div class="invoice-desc-body">
      </div>
    </div>
  </div>

</div>
<!--인쇄 div 끝 -->

<!-- 경력증명서 인쇄할 문서 부분: 출력 X -->
<div class="print-only" id="A02Div" style="display: none">
  <div class="invoice-box">
    <div class="invoice-header">
      <div class="logo text-center">
        <div class="col font-12 text-left">제 A01-20230529-01 호</div>
        <div class="row pb-30"></div>
      </div>
    </div>
    <h4 class="text-center mb-30 weight-600">경력증명서</h4>
    <div class="row pb-30">
    </div>

    <div class="invoice-desc pb-30">

      <div class="invoice-desc-body">

        <table class="table table-bordered text-center">
          <tbody>
          <tr>
            <td class="col-2 table-active">성명</td>
            <td class="col-4">홍길동</td>
            <td class="col-2 table-active">생년월일</td>
            <td>1991년 07월 12일</td>
          </tr>
          <tr>
            <td class="col-2 table-active">주소</td>
            <td colspan="3">서울 금천구 호서벤치타워</td>
          </tr>
          <tr>
            <td class="col-2 table-active">근무부서</td>
            <td class="col-4">개발 1팀</td>
            <td class="col-2 table-active">직위</td>
            <td>대리</td>
          </tr>
          <tr>
            <td class="col-2 table-active">재직기간</td>
            <td colspan="3">2020-05-02 - 2023-05-29</td>
          </tr>
          <tr>
            <td class="col-2 table-active">사용용도</td>
            <td colspan="3">금융기관 제출용</td>
          </tr>
          </tbody>
        </table>

        <div class="row pb-30" style="height: 60px;"></div>
        <div class="col-12 text-center"> 상기와 같이 재직 중임을 증명합니다 </div>
        <div class="row pb-30" style="height: 20px;"></div>
        <div class="col-12 text-center"> 2023년 05월 29일 </div>

        <div class="row pb-30" style="height: 100px;"></div>

        <div class="row pb-30" style="height: 150px;"></div>

        <div class="row">
          <div class="col-2"></div>
          <div class="col-3 text-center"> 주소: </div>
          <div class="col-6 text-left">  서울 금천구 호서대벤치타워 </div>

        </div>
        <div class="row pb-30" style="height: 10px;"></div>
        <div class="row">
          <div class="col-2"></div>
          <div class="col-3 text-center"> 회사명: </div>
          <div class="col-3 text-left">  메타인컴퍼니(주) </div>
          <div class="col-3"></div>
        </div>
        <div class="row pb-30" style="height: 10px;"></div>
        <div class="row">
          <div class="col-2"></div>
          <div class="col-3 text-center"> 대표이사: </div>
          <div class="col-3 text-left">  홍길동 </div>
          <div style="position: relative;">
            <div class="col-3 text-left" >(인)</div>
            <img src="../vendors/images/metain-sign.png" alt="메타인 지장" width="120" height="120" >
          </div>

        </div>

        <div class="row pb-30" style="height: 30px;"></div>

      </div>


    </div>

    <div class="invoice-desc-footer">
      <div class="invoice-desc-body">
      </div>
    </div>
  </div>

</div>
<!--인쇄 div 끝 -->


<!-- js -->

<script>
  var certSort = "[[${certSort}]]";

  if (certSort === "A01") {
    document.getElementById("A01Div").style.display = "block";
  } else if (certSort === "A02") {
    document.getElementById("A02Div").style.display = "block";
  }
  function printDiv(certSort) {
    var printContent = document.getElementById("targetDiv").innerHTML;

    if (certSort === "A01") {
      var printContent = document.getElementById("A01Div").innerHTML;
    } else if (certSort === "A02") {
      var printContent = document.getElementById("A02Div").innerHTML;
    }

    var printWindow = window.open('', '_blank');
    printWindow.document.open();
    printWindow.document.write('<html><head><title>Print</title></head><body>');

    printWindow.document.write('<link rel="stylesheet" href="/src/plugins/bootstrap/bootstrap.css">');
    printWindow.document.write('<link rel="stylesheet" href="/src/plugins/datatables/css/dataTables.bootstrap4.min.css"/>');
    printWindow.document.write('<link rel="stylesheet" type="text/css" href="/vendors/styles/style.css" />');
    printWindow.document.write('<link rel="stylesheet" type="text/css" href="/src/plugins/datatables/css/responsive.bootstrap4.min.css"/>');
    printWindow.document.write('<link rel="stylesheet" type="text/css" href="/vendors/styles/core.css" />');

    printWindow.document.write('<style>');
    printWindow.document.write('/* 추가적인 스타일 정의 */');

    printWindow.document.write('</style></head><body>');
    printWindow.document.write(printContent);
    printWindow.document.write('</body></html>');
    printWindow.document.close();

    printWindow.onload = function() {
      printWindow.print();
      printWindow.onafterprint = function() {
        printWindow.close();
      }}}
</script>

<script src="vendors/scripts/core.js"></script>
<script src="vendors/scripts/script.min.js"></script>
<script src="vendors/scripts/process.js"></script>
<script src="vendors/scripts/layout-settings.js"></script>
<script src="src/plugins/apexcharts/apexcharts.min.js"></script>
<script src="src/plugins/datatables/js/jquery.dataTables.min.js"></script>
<script src="src/plugins/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="src/plugins/datatables/js/dataTables.responsive.min.js"></script>
<script src="src/plugins/datatables/js/responsive.bootstrap4.min.js"></script>
<script src="vendors/scripts/dashboard.js"></script>
<!-- Google Tag Manager (noscript) -->
<noscript
><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
></iframe
></noscript>
<!-- End Google Tag Manager (noscript) -->
</body>
</html>
