<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  class="no-js" lang="zxx" xmlns:layout="http://www.w3.org/1999/xhtml">

<!-- include/layout.html-->
<th:block th:replace="~{/include/layout :: setContent( ~{:: #wrap}  ) }">
  <section id="wrap">
  </section>

</th:block>

<div class="mobile-menu-overlay"></div>
<!--코드작성-->
<div class="main-container">
  <div class="pd-ltr-20 xs-pd-20-10">
    <div class="min-height-200px">
      <div class="page-header">
        <div class="row">
          <div class="col-md-6 col-sm-12">
            <div class="title">
              <h4>경력증명서</h4>
            </div>
            <nav aria-label="breadcrumb" role="navigation">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="index.html">경력증명서 발급</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  양식
                </li>
              </ol>
            </nav>
          </div>
          <div class="col-md-6 col-sm-12 text-right">
            <div class="dropdown">
              <button
                      class="btn btn-primary"
                      type="button"
                      onclick="agreementCheck2()"
              >
                신청하기
              </button>

            </div>
          </div>
        </div>
      </div>
      <div class="invoice-wrap">
        <div class="invoice-box">
          <div class="invoice-header">
            <div class="logo text-center">
              <div class="col font-12 text-left">제 A02-20230529-01 호</div>
              <div class="row pb-30"></div>
            </div>
          </div>
          <h4 class="text-center mb-30 weight-600">경력증명서</h4>
          <div class="row pb-30">
          </div>

          <div class="invoice-desc pb-30">

            <div class="invoice-desc-body">

              <table class="table table-bordered text-center">
                <tbody>
                <tr>
                  <td class="col-2 table-active">성명</td>
                  <td class="col-4">홍길동</td>
                  <td class="col-2 table-active">생년월일</td>
                  <td>1991년 07월 12일</td>
                </tr>
                <tr>
                  <td class="col-2 table-active">주소</td>
                  <td colspan="3">서울 금천구 호서벤치타워</td>
                </tr>
                <tr>
                  <td class="col-2 table-active">근무부서</td>
                  <td class="col-4">개발 1팀</td>
                  <td class="col-2 table-active">직위</td>
                  <td>대리</td>
                </tr>
                <tr>
                  <td class="col-2 table-active">경력사항</td>
                  <td colspan="3">2020-05-02 - 2023-05-29 근무</td>
                </tr>
                <tr>
                  <td class="col-2 table-active">사용용도</td>
                  <td colspan="3">금융기관 제출용</td>
                </tr>
                </tbody>
              </table>

              <div class="row pb-30" style="height: 60px;"></div>
              <div class="col-12 text-center"> 상기와 같이 재직한 경력이 있음을 증명합니다 </div>
              <div class="row pb-30" style="height: 20px;"></div>
              <div class="col-12 text-center"> 2023년 05월 29일 </div>

              <div class="row pb-30" style="height: 100px;"></div>


              <div class="row pb-30" style="height: 150px;"></div>

              <div class="row">
                <div class="col-2"></div>
                <div class="col-3 text-center"> 주소: </div>
                <div class="col-6 text-left">  서울 금천구 호서대벤치타워 </div>

              </div>
              <div class="row pb-30" style="height: 10px;"></div>
              <div class="row">
                <div class="col-2"></div>
                <div class="col-3 text-center"> 회사명: </div>
                <div class="col-3 text-left">  메타인컴퍼니(주) </div>
                <div class="col-3"></div>
              </div>
              <div class="row pb-30" style="height: 10px;"></div>
              <div class="row">
                <div class="col-2"></div>
                <div class="col-3 text-center"> 대표이사: </div>
                <div class="col-3 text-left">  홍길동 </div>
                <div class="relate">
                  <div class="col-3 text-left" >(인)</div>
                  <img class="img_absolute" src="../vendors/images/metain-sign.png" alt="메타인 지장" width="120" height="120" >
                </div>

              </div>

              <div class="row pb-30" style="height: 80px;"></div>

            </div>


          </div>

          <div class="invoice-desc-footer">
            <div class="invoice-desc-body">
            </div>
          </div>
        </div>

      </div>

      <div class="row pb-30" style="height: 20px;"></div>

      <div class="card-box pd-20 mb-20">
        <div class="container d-flex flex-column" style="padding-top:1rem;">
          <h5 style="color:black;">> 개인정보 취급방침 동의</h5>
          <span style="font-size:1rem; color:blue;">* 아래 약관을 읽은 후 이용가능합니다.</span>
          <div class="flex-center" style="padding-top:1rem;">
								<textarea id="privacy_scroll" style="resize:none; width:100%; height:20rem; padding:0.5rem;" readonly>제14조 (이용자의 개인정보보호)
"재단"은 관련법령이 정하는 바에 따라서 "이용자"의 개인정보를 보호하기 위하여 노력합니다. "이용자"의 개인정보보호에 관한 사항은 관련법령 및 "재단"이 정하는 "개인정보처리방침"에 정한 바에 따릅니다.

제6조 (이용자의 의무)
1. "이용자"는 "서비스"를 이용함에 있어서 다음 각호에 해당하는 행위를 하여서는 안되며, "재단"은 위반 행위에 따르는 일체의 법적 책임을 지지 않습니다.
	1) 타 "이용자"의 "정보"를 부정하게 사용 및 도용하는 행위
	2) "재단"의 저작권, 제3자의 저작원 등 기타 권리를 침해하는 행위
	3) 범죄 행위
	4) “재단”이 게시한 정보의 변경
	5) “재단” 및 기타 제3자의 명예를 손상시키거나 업무를 방해하는 행위
	6) 외설 또는 폭력적인 메시지, 화상, 음성, 기타 공서양속에 반하는 정보를 공개 또는 게시하는 행위
	7) “재단”의 동의 없이 영리를 목적으로 서비스를 사용하는 행위
	8) 기타 관련 법령에 위배되는 행위

2. "이용자"는 자신의 접근매체를 제3자에게 누설 또는 노출하거나 방치하여서는 안되며, 접근 매체의 도용이나 위조 또는 변조를 방지하기 위하여 충분한 주의를 기울여야 합니다.

3. "이용자"는 본 약관에서 규정하는 사항과 "서비스"에 대한 이용안내 또는 주의사항을 준수하여야 합니다.

제10조 (인터넷 증명발급 서류의 위•변조에 대한 경고)
“이용자”가 본 “서비스”를 통해 발급하는 증명서에 대하여 아래의 행위를 한 자에 대해서는 형법 제225조 내지 제230조에 의해 10년 이하의 징역 또는 2,000만원 이하의 각 죄에 정한 형을 받게 됩니다.
	1) PC의 화면 또는 출력된 문서를 복사(위조)하여 사용하는 행위
	2) PC의 화면 또는 출력된 문서를 수정 또는 변조하여 사용하는 행위
	3) 기타 전자적 방법에 의하여 해킹 등으로 문서를 위•변조하여 사용하는 행위
								</textarea>
          </div>
          <form style="width:100%; text-align:center; margin:1rem 0;">
            <p style="display:inline-block; margin-bottom:0;"><b>위 개인정보 수집에 대한 동의를 거부할 권리가 있으며, </b></p><p style="display:inline-block;"><b>&nbsp;동의 거부시에는 사용이 제한 됩니다.</b></p>
            <div><b>개인정보 취급방침에 동의하십니까?</b>

              <div class="row pb-30" style="height: 10px;"></div>
              <div class="custom-control custom-checkbox mb-5">
                <input
                        type="checkbox"
                        class="custom-control-input"
                        name="termsOfUse"
                        id="agreementCheckbox"
                        onclick="NoMultiChk(this)"
                />
                <label class="custom-control-label" for="agreementCheckbox"
                >동의함</label
                >
              </div>
              <div class="custom-control custom-checkbox mb-5">
                <input
                        type="checkbox"
                        class="custom-control-input"
                        name="termsOfUse"
                        id="disagreementCheckbox"
                        onclick="NoMultiChk(this)"
                />
                <label class="custom-control-label" for="disagreementCheckbox"
                >동의하지 않음</label
                >
              </div>
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>
  <div class="footer-wrap pd-20 mb-20 card-box">
    메타인(주)
    <a href="https://github.com/dropways" target="_blank"
    >METAIN</a>
  </div>
</div>
</div>

<!-- js -->
<script>
  function NoMultiChk(chk){
    var obj = document.getElementsByName("termsOfUse");
    for(var i=0; i<obj.length; i++){
      if(obj[i] != chk){
        obj[i].checked = false;
      }
    }
  }
  function agreementCheck() {
    //체크된 체크박스 개수
    var checkedCount = document.querySelectorAll('input[type="checkbox"]:checked').length;

    // 체크박스가 하나 이상인지 확인
    if (checkedCount < 1) {
      // 체크박스가 하나 이상이어야 한다는 경고창 표시
      swal("경고", "이용약관 동의를 해주세요", "warning")
    } else {
      //조건이 충족되었을 때 내발급내역페이지 이동
      location.href = 'emp-cert-apply';
    }}

  function agreementCheck2() {
    // 체크된 체크박스 개수
    var checkedCount = document.querySelectorAll('input[type="checkbox"]:checked').length;

    // 체크박스가 하나 이상인지 확인
    if (checkedCount < 1) {
      // 체크박스가 하나 이상이어야 한다는 경고창 표시
      swal("경고", "이용약관 동의를 해주세요", "warning");
    } else {
      // 체크박스의 값을 확인하여 동의 여부 검사
      var agreed = document.getElementById("agreementCheckbox").checked;
      if (!agreed) {
        // 동의 체크박스가 선택되지 않은 경우 경고창 표시
        swal("경고", "이용약관에 동의해야 증명서 발급이 가능합니다", "warning");
      } else {
        // 조건이 충족되었을 때 페이지 이동
        location.href = 'exper-cert-apply';
      }
    }
  }

</script>
<script src="../src/plugins/sweetalert2/sweetalert2.all.js"></script>
<script src="../src/plugins/sweetalert2/sweet-alert.init.js"></script>
<script src="vendors/scripts/core.js"></script>
<script src="vendors/scripts/script.min.js"></script>
<script src="vendors/scripts/process.js"></script>
<script src="vendors/scripts/layout-settings.js"></script>
<!-- Google Tag Manager (noscript) -->
<noscript
><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NXZMQSS"
        height="0"
        width="0"
        style="display: none; visibility: hidden"
></iframe
></noscript>
<!-- End Google Tag Manager (noscript) -->
</body>
</html>
