<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metain.web.mapper.FileMapper">
    <insert id="insertFile" parameterType="FileDTO" useGeneratedKeys="true" keyProperty="fileId">
        INSERT INTO TBL_FILE(FILE_NAME, EMP_ID)
        VALUES(#{fileName}, #{empId})
    </insert>
    <select id="getFileId" resultType="int">
        SELECT LAST_INSERT_ID()
    </select>

    <select id="getFilePath" resultType="String">
        SELECT FILE_NAME
        FROM TBL_FILE
        WHERE FILE_ID=#{fileId}
    </select>
</mapper>