<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metain.web.mapper.MyPageMapper">

    <!--  나의 재직 증명서 발급 내역 조회   -->
    <select id="selectMyEmpCert" resultType="EmpCert">
        SELECT
            TEC.EMP_CERT_ID, TEC.CERT_REG_DATE, TEC.ISSUE_STATUS
        FROM
            TBL_EMPLOYEE TE
                JOIN TBL_EMP_CERT TEC ON TE.EMP_ID = TEC.EMP_ID
        WHERE
            TE.EMP_ID = #{empId};

    </select>

    <!--  나의 경력 증명서 발급 내역 조회   -->
    <select id="selectMyExperCert" resultType="ExperienceCert">
        SELECT
            TEC.EXPER_CERT_ID, TEC.CERT_REG_DATE, TEC.ISSUE_STATUS
        FROM
            TBL_EMPLOYEE TE
                JOIN TBL_EXPERIENCE_CERT TEC ON TE.EMP_ID = TEC.EMP_ID
        WHERE
            TE.EMP_ID = #{empId};

    </select>

    <!--  나의 퇴직 증명서 발급 내역 조회   -->
    <select id="selectMyRetCert" resultType="RetireCert">
        SELECT
            TRC.RETIRE_CERT_ID, TRC.CERT_REG_DATE, TRC.ISSUE_STATUS
        FROM
            TBL_EMPLOYEE TE
                JOIN TBL_RETIRE_CERT TRC ON TE.EMP_ID = TRC.EMP_ID
        WHERE
            TE.EMP_ID = #{empId};

    </select>

    <!-- 다운로드 증명서파일이름 가져오기-->
    <select id="selectEmpCertFilename" resultType="String">
        select cert_file_name from TBL_EMP_CERT where emp_cert_id = #{certId};
    </select>

    <select id="selectExperCertFilename" resultType="String">
        select cert_file_name from TBL_EXPERIENCE_CERT where exper_cert_id = #{certId};
    </select>

    <select id="selectRetireCertFilename" resultType="String">
        select cert_file_name from TBL_RETIRE_CERT where retire_cert_id = #{certId};
    </select>

    <!-- 다운로드 상태변경 -->
    <update id="updateEmpIssueStatus" parameterType="long">
        update TBL_EMP_CERT
        set issue_status = 1 where emp_cert_id = #{certId};
    </update>
    <update id="updateExperIssueStatus" parameterType="long">
        update TBL_EXPER_CERT
        set issue_status = 1 where exper_cert_id = #{certId};
    </update>
    <update id="updateRetireIssueStatus" parameterType="long">
        update TBL_RETIRE_CERT
        set issue_status = 1 where retire_cert_id = #{certId};
    </update>



    <select id="selectMyVacList" resultType="MyVacDTO">
        SELECT
            TE.EMP_ID,
            TV.VAC_ID,
            TV.VAC_TYPE,
            TV.VAC_REG_DATE,
            TV.VAC_START_DATE,
            TV.VAC_END_DATE,
            TV.VAC_STATUS
        FROM TBL_EMPLOYEE TE
                 JOIN TBL_VACATION TV ON TE.EMP_ID = TV.EMP_ID
        WHERE TE.EMP_ID = #{empId}
        ORDER BY TV.VAC_ID DESC;
    </select>

    <select id="myVacList" resultType="MyVacDTO" parameterType="Long">
        SELECT
            TE.EMP_ID,
            TV.VAC_ID,
            TV.VAC_TYPE,
            TV.VAC_REG_DATE,
            TV.VAC_START_DATE,
            TV.VAC_END_DATE,
            TV.VAC_STATUS
        FROM TBL_EMPLOYEE TE
                 JOIN TBL_VACATION TV ON TE.EMP_ID = TV.EMP_ID
        WHERE TE.EMP_ID = #{empId}

    </select>
    <select id="alarmList" resultType="AlarmDTO" parameterType="Long">
        SELECT
            EMP_ID,
            NOTI_CONTENT,
            NOTI_URL,
            NOTI_DT,
            NOTI_TYPE
        FROM TBL_NOTIFICATION
        WHERE EMP_ID = #{empId}
        ORDER BY NOTI_ID DESC
    </select>

    <update id="updateMyPage" parameterType="Emp">
        update TBL_EMPLOYEE
        set EMP_PHONE = #{empPhone}, EMP_ADDR= #{empAddr}, EMP_ZIPCODE=#{empZipcode},
            EMP_DETAIL_ADDR=#{empDetailAddr}, EMP_PWD=#{empPwd}, EMP_PROFILE=#{empProfile}
        where EMP_ID = #{empId}
    </update>


    <update id="updatePwd" parameterType="Emp">
        update TBL_EMPLOYEE
        set  EMP_PWD=#{empPwd}
        where EMP_ID = #{empId}
    </update>
</mapper>