<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.metain.web.mapper.MyPageMapper">

<!--    <select id="selectIssueAll" resultType="MyCertListDTO">-->
<!--        SELECT TEC.EMP_CERT_ID, TEC.CERT_REG_DATE, TEC.USE_OF_CERT-->
<!--        FROM TBL_EMP_CERT TEC-->
<!--            JOIN TBL_EMPLOYEE TE ON TEC.EMP_ID = TE.EMP_ID-->
<!--        WHERE TE.EMP_ID = #{empId};-->
<!--    </select>-->


<!--    <select id="selectIssueAll" resultType="MyCertListDTO">-->
<!--        SELECT i.ISSUE_ID, CERT_SORT, CREATE_GET_DATE-->
<!--        FROM TBL_EMPLOYEE e JOIN TBL_CERT_ISSUE i-->
<!--                                 ON e.EMP_ID=i.EMP_ID;-->
<!--    </select>-->


    <!--  나의 재직 증명서 발급 내역 조회   -->
    <select id="selectMyEmpCert" resultType="MyCertDTO">
        SELECT
            TEC.EMP_CERT_ID, TEC.CERT_REG_DATE, TEC.ISSUE_STATUS
        FROM
            TBL_EMPLOYEE TE
                JOIN TBL_EMP_CERT TEC ON TE.EMP_ID = TEC.EMP_ID
        WHERE
            TE.EMP_ID = 4

    </select>

    <select id="selectMyVacList" resultType="MyVacDTO">
        SELECT
            TE.EMP_ID,
            TV.VAC_ID,
            TV.VAC_TYPE,
            TV.VAC_REG_DATE,
            TV.VAC_START_DATE,
            TV.VAC_END_DATE,
            TV.VAC_STATUS
        FROM TBL_EMPLOYEE TE
                 JOIN TBL_VACATION TV ON TE.EMP_ID = TV.EMP_ID
        WHERE TE.EMP_ID = #{empId}

    </select>

    <select id="myVacList" resultType="MyVacDTO" parameterType="Long">
        SELECT
            TE.EMP_ID,
            TV.VAC_ID,
            TV.VAC_TYPE,
            TV.VAC_REG_DATE,
            TV.VAC_START_DATE,
            TV.VAC_END_DATE,
            TV.VAC_STATUS
        FROM TBL_EMPLOYEE TE
                 JOIN TBL_VACATION TV ON TE.EMP_ID = TV.EMP_ID
        WHERE TE.EMP_ID = #{empId}

    </select>
</mapper>