<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.metain.web.mapper.VacationMapper">
        <select id="selectAllList" resultType="VacationListDTO">
            SELECT v.VAC_ID,e.EMP_NAME,e.EMP_DEPT,e.EMP_GRADE,v.VAC_TYPE,v.VAC_START_DATE,v.VAC_END_DATE,v.VAC_REG_DATE,v.VAC_STATUS
            FROM TBL_EMPLOYEE e JOIN TBL_VACATION v
            ON e.EMP_ID=v.EMP_ID
            ORDER BY v.VAC_ID DESC;
        </select>
    <resultMap id="VacationFile" type="com.metain.web.dto.VacationFileDTO">
        <id property="vacId" column="VAC_ID" />
        <result property="empId" column="EMP_ID" />
        <result property="vacType" column="VAC_TYPE" />
        <result property="vacRegDate" column="VAC_REG_DATE" />
        <result property="vacStartDate" column="VAC_START_DATE" />
        <result property="vacEndDate" column="VAC_END_DATE" />
        <result property="fileId" column="FILE_ID" />
        <result property="admId" column="ADM_ID" />
        <result property="vacResn" column="VAC_RESN" />
        <result property="vacStatus" column="VAC_STATUS" />
        <result property="vacUpdat" column="VAC_UPDAT" />
        <result property="fileName" column="FILE_NAME" />
        <result property="fileRegDate" column="FILE_REG_DATE" />
    </resultMap>

    <resultMap id="VacationWithoutFile" type="com.metain.web.dto.VacationWithoutFileDTO">
        <id property="vacId" column="VAC_ID" />
        <result property="empId" column="EMP_ID" />
        <result property="vacType" column="VAC_TYPE" />
        <result property="vacRegDate" column="VAC_REG_DATE" />
        <result property="vacStartDate" column="VAC_START_DATE" />
        <result property="vacEndDate" column="VAC_END_DATE" />
        <result property="admId" column="ADM_ID" />
        <result property="vacResn" column="VAC_RESN" />
        <result property="vacStatus" column="VAC_STATUS" />
        <result property="vacUpdat" column="VAC_UPDAT" />
    </resultMap>
    <select id="vacDetail" resultType="VacationFileDTO">
        SELECT V.VAC_ID, V.EMP_ID, V.VAC_TYPE, V.VAC_REG_DATE, V.VAC_START_DATE, V.VAC_END_DATE,
        F.FILE_ID, V.ADM_ID, V.VAC_RESN, V.VAC_STATUS, V.VAC_UPDAT, F.FILE_NAME, F.FILE_REG_DATE
        FROM TBL_VACATION V JOIN TBL_FILE F ON V.FILE_ID = F.FILE_ID
        WHERE V.VAC_ID = #{vacId}
    </select>
    <select id="vacationDetailWithoutFile" resultType="VacationWithoutFileDTO">
        SELECT V.VAC_ID, V.EMP_ID, V.VAC_TYPE, V.VAC_REG_DATE, V.VAC_START_DATE, V.VAC_END_DATE,
               V.ADM_ID, V.VAC_RESN, V.VAC_STATUS, V.VAC_UPDAT,
               CASE
                   WHEN V.FILE_NAME IS NULL THEN '0'
                   ELSE V.FILE_NAME
                   END AS FILE_NAME
        FROM TBL_VACATION V
        WHERE V.VAC_ID = #{vacId}
    </select>

    <select id="requestList" resultType="VacationListDTO">
        SELECT v.VAC_ID,e.EMP_NAME,e.EMP_DEPT,e.EMP_GRADE,v.VAC_TYPE,v.VAC_START_DATE,v.VAC_END_DATE,v.VAC_REG_DATE,v.VAC_STATUS
        FROM TBL_EMPLOYEE e JOIN TBL_VACATION v
        ON e.EMP_ID=v.EMP_ID
        WHERE vac_status='승인대기'
        ORDER BY v.VAC_ID DESC;

    </select>
    <update id="approveVacationRequest" parameterType="map">
        UPDATE TBL_VACATION
        SET VAC_STATUS = '승인완료',VAC_UPDAT= CURRENT_DATE
        WHERE VAC_ID = #{vacId} and VAC_STATUS=#{vacStatus}
    </update>
    <update id="rejectVacationRequest" parameterType="map">
        UPDATE TBL_VACATION
        SET VAC_STATUS = '승인반려',VAC_UPDAT= CURRENT_DATE
        WHERE VAC_ID = #{vacId} and VAC_STATUS=#{vacStatus}
    </update>
    <update id="cancelVacationRequest" parameterType="map">
        UPDATE TBL_VACATION
        SET VAC_STATUS = '요청취소',VAC_UPDAT= CURRENT_DATE
        WHERE VAC_ID = #{vacId}
    </update>
    <insert id="requestVacation" parameterType="Vacation">
        INSERT INTO TBL_VACATION(VAC_TYPE, EMP_ID, VAC_START_DATE,VAC_END_DATE,ADM_ID, VAC_RESN, VAC_STATUS)
        VALUES(#{vacType}, #{empId}, #{vacStartDate}, #{vacEndDate}, #{admId},#{vacResn}, #{vacStatus})
    </insert>
    <insert id="insertAfterVacation" parameterType="Vacation">
        INSERT INTO TBL_VACATION(VAC_TYPE, EMP_ID, VAC_START_DATE,VAC_END_DATE,FILE_ID,ADM_ID, VAC_RESN, VAC_STATUS,FILE_NAME)
        VALUES(#{vacType}, #{empId}, #{vacStartDate}, #{vacEndDate}, #{fileId},#{admId},#{vacResn}, #{vacStatus},#{fileName})
    </insert>
    <select id="selectListByDept" resultType="VacationListDTO">
        SELECT v.VAC_ID, e.EMP_NAME,e.EMP_DEPT,e.EMP_GRADE,v.VAC_TYPE,v.VAC_START_DATE,v.VAC_END_DATE,v.VAC_REG_DATE, v.VAC_STATUS
        FROM TBL_EMPLOYEE e JOIN TBL_VACATION v
        ON e.EMP_ID=v.EMP_ID
        WHERE MONTH(v.VAC_START_DATE)=#{today.monthValue} AND DAY(v.VAC_START_DATE) >=DAY(CURRENT_DATE()) AND EMP_DEPT=#{empDept} AND VAC_STATUS='승인완료'
        ORDER BY v.VAC_START_DATE ASC;
    </select>
    <select id="calendar" resultType="VacationListDTO">
    SELECT v.VAC_ID, e.EMP_NAME,e.EMP_DEPT,e.EMP_GRADE,v.VAC_TYPE,v.VAC_START_DATE,v.VAC_END_DATE,v.VAC_REG_DATE, v.VAC_STATUS
    FROM TBL_EMPLOYEE e JOIN TBL_VACATION v
    ON e.EMP_ID=v.EMP_ID
    WHERE MONTH(v.VAC_START_DATE)=#{today.monthValue} AND e.EMP_DEPT=#{empDept} AND v.VAC_STATUS='승인완료';
    </select>
    <update id="decreaseVacation" parameterType="map">
        UPDATE TBL_EMPLOYEE
        SET EMP_VAC = EMP_VAC-#{selectedDays}
        WHERE EMP_ID=#{empId}
    </update>
    <update id="increaseVacation" parameterType="map">
        UPDATE TBL_EMPLOYEE
        SET EMP_VAC = EMP_VAC+#{diff}
        WHERE EMP_ID=#{empId}
    </update>
    <select id="todayVacation" resultType="VacationListDTO">
        SELECT e.EMP_NAME, e.EMP_DEPT, e.EMP_GRADE, v.VAC_TYPE, v.VAC_START_DATE, v.VAC_END_DATE
        FROM TBL_EMPLOYEE e
                 JOIN TBL_VACATION v ON e.EMP_ID = v.EMP_ID
        WHERE v.VAC_START_DATE= (CURRENT_DATE)
          AND EMP_DEPT = #{empDept}
          AND VAC_STATUS = '승인완료'
        ORDER BY v.VAC_START_DATE ASC;
    </select>

</mapper>