<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    <mapper namespace="com.metain.web.mapper.VacationMapper">
        <select id="selectAllList" resultType="VacationListDTO">
            SELECT v.VAC_ID,e.EMP_NAME,e.EMP_DEPT,e.EMP_GRADE,v.VAC_TYPE,v.VAC_START_DATE,v.VAC_END_DATE,v.VAC_REG_DATE
            FROM TBL_EMPLOYEE e JOIN TBL_VACATION v
            ON e.EMP_ID=v.EMP_ID;
        </select>
    <select id="vacDetail" resultType="Vacation">
        SELECT * FROM TBL_VACATION WHERE VAC_ID=#{vacId};
    </select>
    <select id="requestList" resultType="VacationListDTO">
        SELECT v.VAC_ID,e.EMP_NAME,e.EMP_DEPT,e.EMP_GRADE,v.VAC_TYPE,v.VAC_START_DATE,v.VAC_END_DATE,v.VAC_REG_DATE
        FROM TBL_EMPLOYEE e JOIN TBL_VACATION v
        ON e.EMP_ID=v.EMP_ID
        WHERE vac_status='승인대기';
    </select>
    <update id="approveVacationRequest" parameterType="Long">
        UPDATE TBL_VACATION
        SET VAC_STATUS = '승인완료'
        WHERE VAC_ID = #{vacId}
    </update>
    <update id="rejectVacationRequest" parameterType="Long">
        UPDATE TBL_VACATION
        SET VAC_STATUS = '승인반려'
        WHERE VAC_ID = #{vacId}
    </update>
    <update id="cancelVacationRequest" parameterType="Long">
        UPDATE TBL_VACATION
        SET VAC_STATUS = '승인취소'
        WHERE VAC_ID = #{vacId} and EMP_ID=#{empId}
    </update>
    <insert id="requestVacation" parameterType="Vacation">
        INSERT INTO TBL_VACATION(VAC_TYPE, EMP_ID, VAC_START_DATE,VAC_END_DATE,ADM_ID, VAC_RESN, VAC_STATUS)
        VALUES(#{vacType}, #{empId}, #{vacStartDate}, #{vacEndDate}, #{admId},#{vacResn}, #{vacStatus})
    </insert>
    <insert id="insertAfterVacation" parameterType="Vacation">
        INSERT INTO TBL_VACATION(VAC_TYPE, EMP_ID, VAC_START_DATE,VAC_END_DATE,FILE_ID,ADM_ID, VAC_RESN, VAC_STATUS,FILE_NAME)
        VALUES(#{vacType}, #{empId}, #{vacStartDate}, #{vacEndDate}, #{fileId},#{admId},#{vacResn}, #{vacStatus},#{fileName})
    </insert>
</mapper>